/*!
 * RAM by Rusty Ruppert D. Monzon
 * rustymonzon@gmail.com
 */
/*!
// 576px;
// 768px;
// 992px;
// 1200px;
 */
/* display */
.ram-ui .xs-none {
  display: none;
}

.ram-ui .xs-nonei {
  display: none !important;
}

.ram-ui .xs-block {
  display: block;
}

.ram-ui .xs-blocki {
  display: block !important;
}

.ram-ui .xs-inline-block {
  display: inline-block;
}

.ram-ui .xs-inline-blocki {
  display: inline-block !important;
}

.ram-ui .xs-table {
  display: table;
}

.ram-ui .xs-tablei {
  display: table !important;
}

.ram-ui .xs-table-cell {
  display: table-cell;
}

.ram-ui .xs-table-celli {
  display: table-cell !important;
}

.ram-ui .xs-flex {
  display: flex;
}

.ram-ui .xs-flexi {
  display: flex !important;
}

.ram-ui .xs-inline-flex {
  display: inline-flex;
}

.ram-ui .xs-inline-flexi {
  display: inline-flex !important;
}

.ram-ui .xs-visible {
  visibility: visible;
}

.ram-ui .xs-hidden {
  visibility: hidden;
}

@media (min-width: 576px) {
  .ram-ui .sm-none {
    display: none;
  }
  .ram-ui .sm-nonei {
    display: none !important;
  }
  .ram-ui .sm-block {
    display: block;
  }
  .ram-ui .sm-blocki {
    display: block !important;
  }
  .ram-ui .sm-inline-block {
    display: inline-block;
  }
  .ram-ui .sm-inline-blocki {
    display: inline-block !important;
  }
  .ram-ui .sm-table {
    display: table;
  }
  .ram-ui .sm-tablei {
    display: table !important;
  }
  .ram-ui .sm-table-cell {
    display: table-cell;
  }
  .ram-ui .sm-table-celli {
    display: table-cell !important;
  }
  .ram-ui .sm-flex {
    display: flex;
  }
  .ram-ui .sm-flexi {
    display: flex !important;
  }
  .ram-ui .sm-inline-flex {
    display: inline-flex;
  }
  .ram-ui .sm-inline-flexi {
    display: inline-flex !important;
  }
  .ram-ui .sm-visible {
    visibility: visible;
  }
  .ram-ui .sm-hidden {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .ram-ui .md-none {
    display: none;
  }
  .ram-ui .md-nonei {
    display: none !important;
  }
  .ram-ui .md-block {
    display: block;
  }
  .ram-ui .md-blocki {
    display: block !important;
  }
  .ram-ui .md-inline-block {
    display: inline-block;
  }
  .ram-ui .md-inline-blocki {
    display: inline-block !important;
  }
  .ram-ui .md-table {
    display: table;
  }
  .ram-ui .md-tablei {
    display: table !important;
  }
  .ram-ui .md-table-cell {
    display: table-cell;
  }
  .ram-ui .md-table-celli {
    display: table-cell !important;
  }
  .ram-ui .md-flex {
    display: flex;
  }
  .ram-ui .md-flexi {
    display: flex !important;
  }
  .ram-ui .md-inline-flex {
    display: inline-flex;
  }
  .ram-ui .md-inline-flexi {
    display: inline-flex !important;
  }
  .ram-ui .md-visible {
    visibility: visible;
  }
  .ram-ui .md-hidden {
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  .ram-ui .lg-none {
    display: none;
  }
  .ram-ui .lg-nonei {
    display: none !important;
  }
  .ram-ui .lg-block {
    display: block;
  }
  .ram-ui .lg-blocki {
    display: block !important;
  }
  .ram-ui .lg-inline-block {
    display: inline-block;
  }
  .ram-ui .lg-inline-blocki {
    display: inline-block !important;
  }
  .ram-ui .lg-table {
    display: table;
  }
  .ram-ui .lg-tablei {
    display: table !important;
  }
  .ram-ui .lg-table-cell {
    display: table-cell;
  }
  .ram-ui .lg-table-celli {
    display: table-cell !important;
  }
  .ram-ui .lg-flex {
    display: flex;
  }
  .ram-ui .lg-flexi {
    display: flex !important;
  }
  .ram-ui .lg-inline-flex {
    display: inline-flex;
  }
  .ram-ui .lg-inline-flexi {
    display: inline-flex !important;
  }
  .ram-ui .lg-visible {
    visibility: visible;
  }
  .ram-ui .lg-hidden {
    visibility: hidden;
  }
}

@media (min-width: 1200px) {
  .ram-ui .xlg-none {
    display: none;
  }
  .ram-ui .xlg-nonei {
    display: none !important;
  }
  .ram-ui .xlg-block {
    display: block;
  }
  .ram-ui .xlg-blocki {
    display: block !important;
  }
  .ram-ui .xlg-inline-block {
    display: inline-block;
  }
  .ram-ui .xlg-inline-blocki {
    display: inline-block !important;
  }
  .ram-ui .xlg-table {
    display: table;
  }
  .ram-ui .xlg-tablei {
    display: table !important;
  }
  .ram-ui .xlg-table-cell {
    display: table-cell;
  }
  .ram-ui .xlg-table-celli {
    display: table-cell !important;
  }
  .ram-ui .xlg-flex {
    display: flex;
  }
  .ram-ui .xlg-flexi {
    display: flex !important;
  }
  .ram-ui .xlg-inline-flex {
    display: inline-flex;
  }
  .ram-ui .xlg-inline-flexi {
    display: inline-flex !important;
  }
  .ram-ui .xlg-visible {
    visibility: visible;
  }
  .ram-ui .xlg-hidden {
    visibility: hidden;
  }
}

@media (min-width: 0) and (max-width: 575px) {
  .ram-ui .xs\:none {
    display: none;
  }
  .ram-ui .xs\:nonei {
    display: none !important;
  }
  .ram-ui .xs\:block {
    display: block;
  }
  .ram-ui .xs\:blocki {
    display: block !important;
  }
  .ram-ui .xs\:inline-block {
    display: inline-block;
  }
  .ram-ui .xs\:inline-blocki {
    display: inline-block !important;
  }
  .ram-ui .xs\:table {
    display: table;
  }
  .ram-ui .xs\:tablei {
    display: table !important;
  }
  .ram-ui .xs\:table-cell {
    display: table-cell;
  }
  .ram-ui .xs\:table-celli {
    display: table-cell !important;
  }
  .ram-ui .xs\:flex {
    display: flex;
  }
  .ram-ui .xs\:flexi {
    display: flex !important;
  }
  .ram-ui .xs\:inline-flex {
    display: inline-flex;
  }
  .ram-ui .xs\:inline-flexi {
    display: inline-flex !important;
  }
  .ram-ui .xs\:visible {
    visibility: visible;
  }
  .ram-ui .xs\:hidden {
    visibility: hidden;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ram-ui .sm\:none {
    display: none;
  }
  .ram-ui .sm\:nonei {
    display: none !important;
  }
  .ram-ui .sm\:block {
    display: block;
  }
  .ram-ui .sm\:blocki {
    display: block !important;
  }
  .ram-ui .sm\:inline-block {
    display: inline-block;
  }
  .ram-ui .sm\:inline-blocki {
    display: inline-block !important;
  }
  .ram-ui .sm\:table {
    display: table;
  }
  .ram-ui .sm\:tablei {
    display: table !important;
  }
  .ram-ui .sm\:table-cell {
    display: table-cell;
  }
  .ram-ui .sm\:table-celli {
    display: table-cell !important;
  }
  .ram-ui .sm\:flex {
    display: flex;
  }
  .ram-ui .sm\:flexi {
    display: flex !important;
  }
  .ram-ui .sm\:inline-flex {
    display: inline-flex;
  }
  .ram-ui .sm\:inline-flexi {
    display: inline-flex !important;
  }
  .ram-ui .sm\:visible {
    visibility: visible;
  }
  .ram-ui .sm\:hidden {
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ram-ui .md\:none {
    display: none;
  }
  .ram-ui .md\:nonei {
    display: none !important;
  }
  .ram-ui .md\:block {
    display: block;
  }
  .ram-ui .md\:blocki {
    display: block !important;
  }
  .ram-ui .md\:inline-block {
    display: inline-block;
  }
  .ram-ui .md\:inline-blocki {
    display: inline-block !important;
  }
  .ram-ui .md\:table {
    display: table;
  }
  .ram-ui .md\:tablei {
    display: table !important;
  }
  .ram-ui .md\:table-cell {
    display: table-cell;
  }
  .ram-ui .md\:table-celli {
    display: table-cell !important;
  }
  .ram-ui .md\:flex {
    display: flex;
  }
  .ram-ui .md\:flexi {
    display: flex !important;
  }
  .ram-ui .md\:inline-flex {
    display: inline-flex;
  }
  .ram-ui .md\:inline-flexi {
    display: inline-flex !important;
  }
  .ram-ui .md\:visible {
    visibility: visible;
  }
  .ram-ui .md\:hidden {
    visibility: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ram-ui .lg\:none {
    display: none;
  }
  .ram-ui .lg\:nonei {
    display: none !important;
  }
  .ram-ui .lg\:block {
    display: block;
  }
  .ram-ui .lg\:blocki {
    display: block !important;
  }
  .ram-ui .lg\:inline-block {
    display: inline-block;
  }
  .ram-ui .lg\:inline-blocki {
    display: inline-block !important;
  }
  .ram-ui .lg\:table {
    display: table;
  }
  .ram-ui .lg\:tablei {
    display: table !important;
  }
  .ram-ui .lg\:table-cell {
    display: table-cell;
  }
  .ram-ui .lg\:table-celli {
    display: table-cell !important;
  }
  .ram-ui .lg\:flex {
    display: flex;
  }
  .ram-ui .lg\:flexi {
    display: flex !important;
  }
  .ram-ui .lg\:inline-flex {
    display: inline-flex;
  }
  .ram-ui .lg\:inline-flexi {
    display: inline-flex !important;
  }
  .ram-ui .lg\:visible {
    visibility: visible;
  }
  .ram-ui .lg\:hidden {
    visibility: hidden;
  }
}

/* flexgrid */
.ram-ui .containerr {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.ram-ui .containerr.lg\:fluid {
  max-width: 1600px;
}

@media (min-width: 576px) {
  .ram-ui .containerr:not(.fluid):not(.lg\:fluid) {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .ram-ui .containerr:not(.fluid):not(.lg\:fluid) {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .ram-ui .containerr:not(.fluid):not(.lg\:fluid) {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .ram-ui .containerr:not(.fluid):not(.lg\:fluid) {
    max-width: 1057px;
  }
}

.ram-ui .rrow:not(.column) {
  margin-left: -19px;
  margin-right: -19px;
}

.ram-ui .rrow.column {
  margin-left: 0;
  margin-right: 0;
}

.ram-ui .rrow > .column {
  padding-right: 19px;
  padding-left: 19px;
}

.ram-ui .rrow-sm:not(.column) {
  margin-left: -19px;
  margin-right: -19px;
}

.ram-ui .rrow-sm > .column {
  padding-right: 9.5px;
  padding-left: 9.5px;
}

.ram-ui .rrow-lg:not(.column) {
  margin-left: -19px;
  margin-right: -19px;
}

.ram-ui .rrow-lg > .column {
  padding-right: 28.5px;
  padding-left: 28.5px;
}

.ram-ui .flex {
  flex-wrap: wrap;
  display: flex;
}

.ram-ui .flex.xs-justify-between {
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.ram-ui .flex.xs-justify-around {
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.ram-ui .flex.xs-justify-start {
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.ram-ui .flex.xs-justify-center {
  -moz-justify-content: center;
  justify-content: center;
}

.ram-ui .flex.xs-justify-end {
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.ram-ui .flex.xs-items-start {
  align-items: flex-start;
}

.ram-ui .flex.xs-items-end {
  align-items: flex-end;
}

.ram-ui .flex.xs-items-center {
  align-items: center;
}

.ram-ui .flex.xs-items-baseline {
  align-items: baseline;
}

.ram-ui .flex.xs-items-stretch {
  align-items: stretch;
}

.ram-ui .flex.xs-content-stretch {
  align-content: stretch;
}

.ram-ui .flex.xs-content-center {
  align-content: center;
}

.ram-ui .flex.xs-content-start {
  align-content: flex-start;
}

.ram-ui .flex.xs-content-end {
  align-content: flex-end;
}

.ram-ui .flex.xs-content-between {
  align-content: space-between;
}

.ram-ui .flex.xs-content-around {
  align-content: space-around;
}

.ram-ui .flex.xs-direction-row {
  -moz-flex-direction: row;
  flex-direction: row;
}

.ram-ui .flex.xs-direction-row-reverse {
  -moz-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.ram-ui .flex.xs-direction-column {
  -moz-flex-direction: column;
  flex-direction: column;
}

.ram-ui .flex.xs-direction-column-reverse {
  -moz-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.ram-ui .flex.xs-wrap {
  flex-wrap: wrap;
}

.ram-ui .flex.xs-nowrap {
  flex-wrap: nowrap;
}

.ram-ui .flex.xs-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.ram-ui .flex > .column.xs-fill {
  -moz-flex-grow: 1;
  flex-grow: 1;
  flex-basis: auto;
  max-width: none;
}

.ram-ui .flex > .column.xs-auto {
  -moz-flex-grow: 0;
  flex-grow: 0;
  flex-basis: auto;
  max-width: none;
}

.ram-ui .flex > .column.xs-align-auto {
  -ms-grid-row-align: auto;
  align-self: auto;
}

.ram-ui .flex > .column.xs-align-stretch {
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.ram-ui .flex > .column.xs-align-center {
  -ms-grid-row-align: center;
  align-self: center;
}

.ram-ui .flex > .column.xs-align-start {
  align-self: flex-start;
}

.ram-ui .flex > .column.xs-align-end {
  align-self: flex-end;
}

.ram-ui .flex > .column.xs-align-baseline {
  align-self: baseline;
}

.ram-ui .flex > .column.xs-order-0 {
  -moz-order: 0;
  order: 0;
}

.ram-ui .flex > .column.xs-order-1 {
  -moz-order: 1;
  order: 1;
}

.ram-ui .flex > .column.xs-order-2 {
  -moz-order: 2;
  order: 2;
}

.ram-ui .flex > .column.xs-order-3 {
  -moz-order: 3;
  order: 3;
}

.ram-ui .flex > .column.xs-order-4 {
  -moz-order: 4;
  order: 4;
}

.ram-ui .flex > .column.xs-order-5 {
  -moz-order: 5;
  order: 5;
}

.ram-ui .flex > .column.xs-order-6 {
  -moz-order: 6;
  order: 6;
}

.ram-ui .flex > .column.xs-order-7 {
  -moz-order: 7;
  order: 7;
}

.ram-ui .flex > .column.xs-order-8 {
  -moz-order: 8;
  order: 8;
}

.ram-ui .flex > .column.xs-order-9 {
  -moz-order: 9;
  order: 9;
}

.ram-ui .flex > .column.xs-1 {
  flex-basis: 8.3333333333%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 8.3333333333%;
}

.ram-ui .flex > .column.xs-2 {
  flex-basis: 16.6666666667%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 16.6666666667%;
}

.ram-ui .flex > .column.xs-3 {
  flex-basis: 25%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 25%;
}

.ram-ui .flex > .column.xs-4 {
  flex-basis: 33.3333333333%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 33.3333333333%;
}

.ram-ui .flex > .column.xs-5 {
  flex-basis: 41.6666666667%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 41.6666666667%;
}

.ram-ui .flex > .column.xs-6 {
  flex-basis: 50%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 50%;
}

.ram-ui .flex > .column.xs-7 {
  flex-basis: 58.3333333333%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 58.3333333333%;
}

.ram-ui .flex > .column.xs-8 {
  flex-basis: 66.6666666667%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 66.6666666667%;
}

.ram-ui .flex > .column.xs-9 {
  flex-basis: 75%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 75%;
}

.ram-ui .flex > .column.xs-10 {
  flex-basis: 83.3333333333%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 83.3333333333%;
}

.ram-ui .flex > .column.xs-11 {
  flex-basis: 91.6666666667%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 91.6666666667%;
}

.ram-ui .flex > .column.xs-12 {
  flex-basis: 100%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 100%;
}

.ram-ui .flex > .column.xs-5th {
  flex-basis: 20%;
  -moz-flex-grow: 0;
  flex-grow: 0;
  max-width: 20%;
}

@media (min-width: 576px) {
  .ram-ui .flex.sm-justify-between {
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .ram-ui .flex.sm-justify-around {
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
  .ram-ui .flex.sm-justify-start {
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ram-ui .flex.sm-justify-center {
    -moz-justify-content: center;
    justify-content: center;
  }
  .ram-ui .flex.sm-justify-end {
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ram-ui .flex.sm-items-start {
    align-items: flex-start;
  }
  .ram-ui .flex.sm-items-end {
    align-items: flex-end;
  }
  .ram-ui .flex.sm-items-center {
    align-items: center;
  }
  .ram-ui .flex.sm-items-baseline {
    align-items: baseline;
  }
  .ram-ui .flex.sm-items-stretch {
    align-items: stretch;
  }
  .ram-ui .flex.sm-content-stretch {
    align-content: stretch;
  }
  .ram-ui .flex.sm-content-center {
    align-content: center;
  }
  .ram-ui .flex.sm-content-start {
    align-content: flex-start;
  }
  .ram-ui .flex.sm-content-end {
    align-content: flex-end;
  }
  .ram-ui .flex.sm-content-between {
    align-content: space-between;
  }
  .ram-ui .flex.sm-content-around {
    align-content: space-around;
  }
  .ram-ui .flex.sm-direction-row {
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .ram-ui .flex.sm-direction-row-reverse {
    -moz-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ram-ui .flex.sm-direction-column {
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .ram-ui .flex.sm-direction-column-reverse {
    -moz-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .ram-ui .flex.sm-wrap {
    flex-wrap: wrap;
  }
  .ram-ui .flex.sm-nowrap {
    flex-wrap: nowrap;
  }
  .ram-ui .flex.sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .ram-ui .flex > .column.sm-fill {
    -moz-flex-grow: 1;
    flex-grow: 1;
    flex-basis: auto;
    max-width: none;
  }
  .ram-ui .flex > .column.sm-auto {
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-basis: auto;
    max-width: none;
  }
  .ram-ui .flex > .column.sm-align-auto {
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .ram-ui .flex > .column.sm-align-stretch {
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .ram-ui .flex > .column.sm-align-center {
    -ms-grid-row-align: center;
    align-self: center;
  }
  .ram-ui .flex > .column.sm-align-start {
    align-self: flex-start;
  }
  .ram-ui .flex > .column.sm-align-end {
    align-self: flex-end;
  }
  .ram-ui .flex > .column.sm-align-baseline {
    align-self: baseline;
  }
  .ram-ui .flex > .column.sm-order-0 {
    -moz-order: 0;
    order: 0;
  }
  .ram-ui .flex > .column.sm-order-1 {
    -moz-order: 1;
    order: 1;
  }
  .ram-ui .flex > .column.sm-order-2 {
    -moz-order: 2;
    order: 2;
  }
  .ram-ui .flex > .column.sm-order-3 {
    -moz-order: 3;
    order: 3;
  }
  .ram-ui .flex > .column.sm-order-4 {
    -moz-order: 4;
    order: 4;
  }
  .ram-ui .flex > .column.sm-order-5 {
    -moz-order: 5;
    order: 5;
  }
  .ram-ui .flex > .column.sm-order-6 {
    -moz-order: 6;
    order: 6;
  }
  .ram-ui .flex > .column.sm-order-7 {
    -moz-order: 7;
    order: 7;
  }
  .ram-ui .flex > .column.sm-order-8 {
    -moz-order: 8;
    order: 8;
  }
  .ram-ui .flex > .column.sm-order-9 {
    -moz-order: 9;
    order: 9;
  }
  .ram-ui .flex > .column.sm-1 {
    flex-basis: 8.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 8.3333333333%;
  }
  .ram-ui .flex > .column.sm-2 {
    flex-basis: 16.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 16.6666666667%;
  }
  .ram-ui .flex > .column.sm-3 {
    flex-basis: 25%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 25%;
  }
  .ram-ui .flex > .column.sm-4 {
    flex-basis: 33.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 33.3333333333%;
  }
  .ram-ui .flex > .column.sm-5 {
    flex-basis: 41.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 41.6666666667%;
  }
  .ram-ui .flex > .column.sm-6 {
    flex-basis: 50%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  .ram-ui .flex > .column.sm-7 {
    flex-basis: 58.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 58.3333333333%;
  }
  .ram-ui .flex > .column.sm-8 {
    flex-basis: 66.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 66.6666666667%;
  }
  .ram-ui .flex > .column.sm-9 {
    flex-basis: 75%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 75%;
  }
  .ram-ui .flex > .column.sm-10 {
    flex-basis: 83.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 83.3333333333%;
  }
  .ram-ui .flex > .column.sm-11 {
    flex-basis: 91.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 91.6666666667%;
  }
  .ram-ui .flex > .column.sm-12 {
    flex-basis: 100%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 100%;
  }
  .ram-ui .flex > .column.sm-5th {
    flex-basis: 20%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 20%;
  }
}

@media (min-width: 768px) {
  .ram-ui .flex.md-justify-between {
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .ram-ui .flex.md-justify-around {
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
  .ram-ui .flex.md-justify-start {
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ram-ui .flex.md-justify-center {
    -moz-justify-content: center;
    justify-content: center;
  }
  .ram-ui .flex.md-justify-end {
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ram-ui .flex.md-items-start {
    align-items: flex-start;
  }
  .ram-ui .flex.md-items-end {
    align-items: flex-end;
  }
  .ram-ui .flex.md-items-center {
    align-items: center;
  }
  .ram-ui .flex.md-items-baseline {
    align-items: baseline;
  }
  .ram-ui .flex.md-items-stretch {
    align-items: stretch;
  }
  .ram-ui .flex.md-content-stretch {
    align-content: stretch;
  }
  .ram-ui .flex.md-content-center {
    align-content: center;
  }
  .ram-ui .flex.md-content-start {
    align-content: flex-start;
  }
  .ram-ui .flex.md-content-end {
    align-content: flex-end;
  }
  .ram-ui .flex.md-content-between {
    align-content: space-between;
  }
  .ram-ui .flex.md-content-around {
    align-content: space-around;
  }
  .ram-ui .flex.md-direction-row {
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .ram-ui .flex.md-direction-row-reverse {
    -moz-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ram-ui .flex.md-direction-column {
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .ram-ui .flex.md-direction-column-reverse {
    -moz-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .ram-ui .flex.md-wrap {
    flex-wrap: wrap;
  }
  .ram-ui .flex.md-nowrap {
    flex-wrap: nowrap;
  }
  .ram-ui .flex.md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .ram-ui .flex > .column.md-1 {
    flex-basis: 8.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 8.3333333333%;
  }
  .ram-ui .flex > .column.md-2 {
    flex-basis: 16.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 16.6666666667%;
  }
  .ram-ui .flex > .column.md-3 {
    flex-basis: 25%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 25%;
  }
  .ram-ui .flex > .column.md-4 {
    flex-basis: 33.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 33.3333333333%;
  }
  .ram-ui .flex > .column.md-5 {
    flex-basis: 41.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 41.6666666667%;
  }
  .ram-ui .flex > .column.md-6 {
    flex-basis: 50%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  .ram-ui .flex > .column.md-7 {
    flex-basis: 58.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 58.3333333333%;
  }
  .ram-ui .flex > .column.md-8 {
    flex-basis: 66.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 66.6666666667%;
  }
  .ram-ui .flex > .column.md-9 {
    flex-basis: 75%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 75%;
  }
  .ram-ui .flex > .column.md-10 {
    flex-basis: 83.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 83.3333333333%;
  }
  .ram-ui .flex > .column.md-11 {
    flex-basis: 91.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 91.6666666667%;
  }
  .ram-ui .flex > .column.md-12 {
    flex-basis: 100%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 100%;
  }
  .ram-ui .flex > .column.md-5th {
    flex-basis: 20%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 20%;
  }
  .ram-ui .flex > .column.md-fill {
    -moz-flex-grow: 1;
    flex-grow: 1;
    flex-basis: auto;
    max-width: none;
  }
  .ram-ui .flex > .column.md-auto {
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-basis: auto;
    max-width: none;
  }
  .ram-ui .flex > .column.md-align-auto {
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .ram-ui .flex > .column.md-align-stretch {
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .ram-ui .flex > .column.md-align-center {
    -ms-grid-row-align: center;
    align-self: center;
  }
  .ram-ui .flex > .column.md-align-start {
    align-self: flex-start;
  }
  .ram-ui .flex > .column.md-align-end {
    align-self: flex-end;
  }
  .ram-ui .flex > .column.md-align-baseline {
    align-self: baseline;
  }
  .ram-ui .flex > .column.md-order-0 {
    -moz-order: 0;
    order: 0;
  }
  .ram-ui .flex > .column.md-order-1 {
    -moz-order: 1;
    order: 1;
  }
  .ram-ui .flex > .column.md-order-2 {
    -moz-order: 2;
    order: 2;
  }
  .ram-ui .flex > .column.md-order-3 {
    -moz-order: 3;
    order: 3;
  }
  .ram-ui .flex > .column.md-order-4 {
    -moz-order: 4;
    order: 4;
  }
  .ram-ui .flex > .column.md-order-5 {
    -moz-order: 5;
    order: 5;
  }
  .ram-ui .flex > .column.md-order-6 {
    -moz-order: 6;
    order: 6;
  }
  .ram-ui .flex > .column.md-order-7 {
    -moz-order: 7;
    order: 7;
  }
  .ram-ui .flex > .column.md-order-8 {
    -moz-order: 8;
    order: 8;
  }
  .ram-ui .flex > .column.md-order-9 {
    -moz-order: 9;
    order: 9;
  }
}

@media (min-width: 992px) {
  .ram-ui .flex.lg-justify-between {
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .ram-ui .flex.lg-justify-around {
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
  .ram-ui .flex.lg-justify-start {
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ram-ui .flex.lg-justify-center {
    -moz-justify-content: center;
    justify-content: center;
  }
  .ram-ui .flex.lg-justify-end {
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ram-ui .flex.lg-items-start {
    align-items: flex-start;
  }
  .ram-ui .flex.lg-items-end {
    align-items: flex-end;
  }
  .ram-ui .flex.lg-items-center {
    align-items: center;
  }
  .ram-ui .flex.lg-items-baseline {
    align-items: baseline;
  }
  .ram-ui .flex.lg-items-stretch {
    align-items: stretch;
  }
  .ram-ui .flex.lg-content-stretch {
    align-content: stretch;
  }
  .ram-ui .flex.lg-content-center {
    align-content: center;
  }
  .ram-ui .flex.lg-content-start {
    align-content: flex-start;
  }
  .ram-ui .flex.lg-content-end {
    align-content: flex-end;
  }
  .ram-ui .flex.lg-content-between {
    align-content: space-between;
  }
  .ram-ui .flex.lg-content-around {
    align-content: space-around;
  }
  .ram-ui .flex.lg-direction-row {
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .ram-ui .flex.lg-direction-row-reverse {
    -moz-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ram-ui .flex.lg-direction-column {
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .ram-ui .flex.lg-direction-column-reverse {
    -moz-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .ram-ui .flex.lg-wrap {
    flex-wrap: wrap;
  }
  .ram-ui .flex.lg-nowrap {
    flex-wrap: nowrap;
  }
  .ram-ui .flex.lg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .ram-ui .flex > .column.lg-1 {
    flex-basis: 8.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 8.3333333333%;
  }
  .ram-ui .flex > .column.lg-2 {
    flex-basis: 16.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 16.6666666667%;
  }
  .ram-ui .flex > .column.lg-3 {
    flex-basis: 25%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 25%;
  }
  .ram-ui .flex > .column.lg-4 {
    flex-basis: 33.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 33.3333333333%;
  }
  .ram-ui .flex > .column.lg-5 {
    flex-basis: 41.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 41.6666666667%;
  }
  .ram-ui .flex > .column.lg-6 {
    flex-basis: 50%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  .ram-ui .flex > .column.lg-7 {
    flex-basis: 58.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 58.3333333333%;
  }
  .ram-ui .flex > .column.lg-8 {
    flex-basis: 66.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 66.6666666667%;
  }
  .ram-ui .flex > .column.lg-9 {
    flex-basis: 75%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 75%;
  }
  .ram-ui .flex > .column.lg-10 {
    flex-basis: 83.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 83.3333333333%;
  }
  .ram-ui .flex > .column.lg-11 {
    flex-basis: 91.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 91.6666666667%;
  }
  .ram-ui .flex > .column.lg-12 {
    flex-basis: 100%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 100%;
  }
  .ram-ui .flex > .column.lg-5th {
    flex-basis: 20%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 20%;
  }
  .ram-ui .flex > .column.lg-fill {
    -moz-flex-grow: 1;
    flex-grow: 1;
    flex-basis: auto;
    max-width: none;
  }
  .ram-ui .flex > .column.lg-auto {
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-basis: auto;
    max-width: none;
  }
  .ram-ui .flex > .column.lg-align-auto {
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .ram-ui .flex > .column.lg-align-stretch {
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .ram-ui .flex > .column.lg-align-center {
    -ms-grid-row-align: center;
    align-self: center;
  }
  .ram-ui .flex > .column.lg-align-start {
    align-self: flex-start;
  }
  .ram-ui .flex > .column.lg-align-end {
    align-self: flex-end;
  }
  .ram-ui .flex > .column.lg-align-baseline {
    align-self: baseline;
  }
  .ram-ui .flex > .column.lg-order-0 {
    -moz-order: 0;
    order: 0;
  }
  .ram-ui .flex > .column.lg-order-1 {
    -moz-order: 1;
    order: 1;
  }
  .ram-ui .flex > .column.lg-order-2 {
    -moz-order: 2;
    order: 2;
  }
  .ram-ui .flex > .column.lg-order-3 {
    -moz-order: 3;
    order: 3;
  }
  .ram-ui .flex > .column.lg-order-4 {
    -moz-order: 4;
    order: 4;
  }
  .ram-ui .flex > .column.lg-order-5 {
    -moz-order: 5;
    order: 5;
  }
  .ram-ui .flex > .column.lg-order-6 {
    -moz-order: 6;
    order: 6;
  }
  .ram-ui .flex > .column.lg-order-7 {
    -moz-order: 7;
    order: 7;
  }
  .ram-ui .flex > .column.lg-order-8 {
    -moz-order: 8;
    order: 8;
  }
  .ram-ui .flex > .column.lg-order-9 {
    -moz-order: 9;
    order: 9;
  }
}

@media (min-width: 1200px) {
  .ram-ui .flex.xlg-justify-between {
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .ram-ui .flex.xlg-justify-around {
    -moz-justify-content: space-around;
    justify-content: space-around;
  }
  .ram-ui .flex.xlg-justify-start {
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ram-ui .flex.xlg-justify-center {
    -moz-justify-content: center;
    justify-content: center;
  }
  .ram-ui .flex.xlg-justify-end {
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ram-ui .flex.xlg-items-start {
    align-items: flex-start;
  }
  .ram-ui .flex.xlg-items-end {
    align-items: flex-end;
  }
  .ram-ui .flex.xlg-items-center {
    align-items: center;
  }
  .ram-ui .flex.xlg-items-baseline {
    align-items: baseline;
  }
  .ram-ui .flex.xlg-items-stretch {
    align-items: stretch;
  }
  .ram-ui .flex.xlg-content-stretch {
    align-content: stretch;
  }
  .ram-ui .flex.xlg-content-center {
    align-content: center;
  }
  .ram-ui .flex.xlg-content-start {
    align-content: flex-start;
  }
  .ram-ui .flex.xlg-content-end {
    align-content: flex-end;
  }
  .ram-ui .flex.xlg-content-between {
    align-content: space-between;
  }
  .ram-ui .flex.xlg-content-around {
    align-content: space-around;
  }
  .ram-ui .flex.xlg-direction-row {
    -moz-flex-direction: row;
    flex-direction: row;
  }
  .ram-ui .flex.xlg-direction-row-reverse {
    -moz-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ram-ui .flex.xlg-direction-column {
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .ram-ui .flex.xlg-direction-column-reverse {
    -moz-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .ram-ui .flex.xlg-wrap {
    flex-wrap: wrap;
  }
  .ram-ui .flex.xlg-nowrap {
    flex-wrap: nowrap;
  }
  .ram-ui .flex.xlg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .ram-ui .flex > .column.xlg-1 {
    flex-basis: 8.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 8.3333333333%;
  }
  .ram-ui .flex > .column.xlg-2 {
    flex-basis: 16.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 16.6666666667%;
  }
  .ram-ui .flex > .column.xlg-3 {
    flex-basis: 25%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 25%;
  }
  .ram-ui .flex > .column.xlg-4 {
    flex-basis: 33.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 33.3333333333%;
  }
  .ram-ui .flex > .column.xlg-5 {
    flex-basis: 41.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 41.6666666667%;
  }
  .ram-ui .flex > .column.xlg-6 {
    flex-basis: 50%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  .ram-ui .flex > .column.xlg-7 {
    flex-basis: 58.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 58.3333333333%;
  }
  .ram-ui .flex > .column.xlg-8 {
    flex-basis: 66.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 66.6666666667%;
  }
  .ram-ui .flex > .column.xlg-9 {
    flex-basis: 75%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 75%;
  }
  .ram-ui .flex > .column.xlg-10 {
    flex-basis: 83.3333333333%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 83.3333333333%;
  }
  .ram-ui .flex > .column.xlg-11 {
    flex-basis: 91.6666666667%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 91.6666666667%;
  }
  .ram-ui .flex > .column.xlg-12 {
    flex-basis: 100%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 100%;
  }
  .ram-ui .flex > .column.xlg-5th {
    flex-basis: 20%;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: 20%;
  }
  .ram-ui .flex > .column.xlg-fill {
    -moz-flex-grow: 1;
    flex-grow: 1;
    flex-basis: auto;
    max-width: none;
  }
  .ram-ui .flex > .column.xlg-auto {
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-basis: auto;
    max-width: none;
  }
  .ram-ui .flex > .column.xlg-align-auto {
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .ram-ui .flex > .column.xlg-align-stretch {
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .ram-ui .flex > .column.xlg-align-center {
    -ms-grid-row-align: center;
    align-self: center;
  }
  .ram-ui .flex > .column.xlg-align-start {
    align-self: flex-start;
  }
  .ram-ui .flex > .column.xlg-align-end {
    align-self: flex-end;
  }
  .ram-ui .flex > .column.xlg-align-baseline {
    align-self: baseline;
  }
  .ram-ui .flex > .column.xlg-order-0 {
    -moz-order: 0;
    order: 0;
  }
  .ram-ui .flex > .column.xlg-order-1 {
    -moz-order: 1;
    order: 1;
  }
  .ram-ui .flex > .column.xlg-order-2 {
    -moz-order: 2;
    order: 2;
  }
  .ram-ui .flex > .column.xlg-order-3 {
    -moz-order: 3;
    order: 3;
  }
  .ram-ui .flex > .column.xlg-order-4 {
    -moz-order: 4;
    order: 4;
  }
  .ram-ui .flex > .column.xlg-order-5 {
    -moz-order: 5;
    order: 5;
  }
  .ram-ui .flex > .column.xlg-order-6 {
    -moz-order: 6;
    order: 6;
  }
  .ram-ui .flex > .column.xlg-order-7 {
    -moz-order: 7;
    order: 7;
  }
  .ram-ui .flex > .column.xlg-order-8 {
    -moz-order: 8;
    order: 8;
  }
  .ram-ui .flex > .column.xlg-order-9 {
    -moz-order: 9;
    order: 9;
  }
}

/* gutter */
.ram-ui .xs-gutter {
  padding-left: 19px;
  padding-right: 19px;
}

.ram-ui .containerr.xs-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.ram-ui .containerr.xs-no-gutter .rrow,
.ram-ui .containerr.xs-no-gutter .rrow-sm,
.ram-ui .containerr.xs-no-gutter .rrow-lg {
  margin-left: 0;
  margin-right: 0;
}

.ram-ui .containerr.xs-no-gutter .rrow .column,
.ram-ui .containerr.xs-no-gutter .rrow-sm .column,
.ram-ui .containerr.xs-no-gutter .rrow-lg .column {
  padding-left: 0;
  padding-right: 0;
}

.ram-ui .rrow.xs-no-gutter,
.ram-ui .rrow-sm.xs-no-gutter,
.ram-ui .rrow-lg.xs-no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.ram-ui .rrow.xs-no-gutter > .column,
.ram-ui .rrow-sm.xs-no-gutter > .column,
.ram-ui .rrow-lg.xs-no-gutter > .column {
  padding-left: 0;
  padding-right: 0;
}

.ram-ui .rrow.xs-no-gutter-fluid,
.ram-ui .rrow-sm.xs-no-gutter-fluid,
.ram-ui .rrow-lg.xs-no-gutter-fluid {
  margin-left: -38px;
  margin-right: -38px;
}

.ram-ui .rrow.xs-no-gutter-fluid > .column,
.ram-ui .rrow-sm.xs-no-gutter-fluid > .column,
.ram-ui .rrow-lg.xs-no-gutter-fluid > .column {
  padding-left: 0;
  padding-right: 0;
}

.ram-ui .rrow.xs-vertical-no-gutter > .column,
.ram-ui .rrow-sm.xs-vertical-no-gutter > .column,
.ram-ui .rrow-lg.xs-vertical-no-gutter > .column {
  padding-top: 0;
  padding-bottom: 0;
}

.ram-ui .column.xs-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.ram-ui .xs-without-gutter {
  padding-left: 19px;
  padding-right: 19px;
}

@media (min-width: 576px) {
  .ram-ui .sm-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
  .ram-ui .containerr.sm-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .containerr.sm-no-gutter .rrow,
  .ram-ui .containerr.sm-no-gutter .rrow-sm,
  .ram-ui .containerr.sm-no-gutter .rrow-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .containerr.sm-no-gutter .rrow .column,
  .ram-ui .containerr.sm-no-gutter .rrow-sm .column,
  .ram-ui .containerr.sm-no-gutter .rrow-lg .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.sm-no-gutter,
  .ram-ui .rrow-sm.sm-no-gutter,
  .ram-ui .rrow-lg.sm-no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .rrow.sm-no-gutter > .column,
  .ram-ui .rrow-sm.sm-no-gutter > .column,
  .ram-ui .rrow-lg.sm-no-gutter > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.sm-no-gutter-fluid,
  .ram-ui .rrow-sm.sm-no-gutter-fluid,
  .ram-ui .rrow-lg.sm-no-gutter-fluid {
    margin-left: -38px;
    margin-right: -38px;
  }
  .ram-ui .rrow.sm-no-gutter-fluid > .column,
  .ram-ui .rrow-sm.sm-no-gutter-fluid > .column,
  .ram-ui .rrow-lg.sm-no-gutter-fluid > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.sm-vertical-no-gutter > .column,
  .ram-ui .rrow-sm.sm-vertical-no-gutter > .column,
  .ram-ui .rrow-lg.sm-vertical-no-gutter > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ram-ui .column.sm-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .sm-without-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (min-width: 768px) {
  .ram-ui .md-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
  .ram-ui .containerr.md-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .containerr.md-no-gutter .rrow,
  .ram-ui .containerr.md-no-gutter .rrow-sm,
  .ram-ui .containerr.md-no-gutter .rrow-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .containerr.md-no-gutter .rrow .column,
  .ram-ui .containerr.md-no-gutter .rrow-sm .column,
  .ram-ui .containerr.md-no-gutter .rrow-lg .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.md-no-gutter,
  .ram-ui .rrow-sm.md-no-gutter,
  .ram-ui .rrow-lg.md-no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .rrow.md-no-gutter > .column,
  .ram-ui .rrow-sm.md-no-gutter > .column,
  .ram-ui .rrow-lg.md-no-gutter > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.md-no-gutter-fluid,
  .ram-ui .rrow-sm.md-no-gutter-fluid,
  .ram-ui .rrow-lg.md-no-gutter-fluid {
    margin-left: -38px;
    margin-right: -38px;
  }
  .ram-ui .rrow.md-no-gutter-fluid > .column,
  .ram-ui .rrow-sm.md-no-gutter-fluid > .column,
  .ram-ui .rrow-lg.md-no-gutter-fluid > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.md-vertical-no-gutter > .column,
  .ram-ui .rrow-sm.md-vertical-no-gutter > .column,
  .ram-ui .rrow-lg.md-vertical-no-gutter > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ram-ui .column.md-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .md-without-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (min-width: 992px) {
  .ram-ui .lg-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
  .ram-ui .containerr.lg-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .containerr.lg-no-gutter .rrow,
  .ram-ui .containerr.lg-no-gutter .rrow-sm,
  .ram-ui .containerr.lg-no-gutter .rrow-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .containerr.lg-no-gutter .rrow .column,
  .ram-ui .containerr.lg-no-gutter .rrow-sm .column,
  .ram-ui .containerr.lg-no-gutter .rrow-lg .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.lg-no-gutter,
  .ram-ui .rrow-sm.lg-no-gutter,
  .ram-ui .rrow-lg.lg-no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .rrow.lg-no-gutter > .column,
  .ram-ui .rrow-sm.lg-no-gutter > .column,
  .ram-ui .rrow-lg.lg-no-gutter > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.lg-no-gutter-fluid,
  .ram-ui .rrow-sm.lg-no-gutter-fluid,
  .ram-ui .rrow-lg.lg-no-gutter-fluid {
    margin-left: -38px;
    margin-right: -38px;
  }
  .ram-ui .rrow.lg-no-gutter-fluid > .column,
  .ram-ui .rrow-sm.lg-no-gutter-fluid > .column,
  .ram-ui .rrow-lg.lg-no-gutter-fluid > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.lg-vertical-no-gutter > .column,
  .ram-ui .rrow-sm.lg-vertical-no-gutter > .column,
  .ram-ui .rrow-lg.lg-vertical-no-gutter > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ram-ui .column.lg-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .lg-without-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (min-width: 1200px) {
  .ram-ui .xlg-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
  .ram-ui .containerr.xlg-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .containerr.xlg-no-gutter .rrow,
  .ram-ui .containerr.xlg-no-gutter .rrow-sm,
  .ram-ui .containerr.xlg-no-gutter .rrow-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .containerr.xlg-no-gutter .rrow .column,
  .ram-ui .containerr.xlg-no-gutter .rrow-sm .column,
  .ram-ui .containerr.xlg-no-gutter .rrow-lg .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.xlg-no-gutter,
  .ram-ui .rrow-sm.xlg-no-gutter,
  .ram-ui .rrow-lg.xlg-no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .rrow.xlg-no-gutter > .column,
  .ram-ui .rrow-sm.xlg-no-gutter > .column,
  .ram-ui .rrow-lg.xlg-no-gutter > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.xlg-no-gutter-fluid,
  .ram-ui .rrow-sm.xlg-no-gutter-fluid,
  .ram-ui .rrow-lg.xlg-no-gutter-fluid {
    margin-left: -38px;
    margin-right: -38px;
  }
  .ram-ui .rrow.xlg-no-gutter-fluid > .column,
  .ram-ui .rrow-sm.xlg-no-gutter-fluid > .column,
  .ram-ui .rrow-lg.xlg-no-gutter-fluid > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.xlg-vertical-no-gutter > .column,
  .ram-ui .rrow-sm.xlg-vertical-no-gutter > .column,
  .ram-ui .rrow-lg.xlg-vertical-no-gutter > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ram-ui .column.xlg-no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .xlg-without-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (min-width: 0) and (max-width: 575px) {
  .ram-ui .xs\:gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
  .ram-ui .containerr.xs\:no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .containerr.xs\:no-gutter .rrow,
  .ram-ui .containerr.xs\:no-gutter .rrow-sm,
  .ram-ui .containerr.xs\:no-gutter .rrow-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .containerr.xs\:no-gutter .rrow .column,
  .ram-ui .containerr.xs\:no-gutter .rrow-sm .column,
  .ram-ui .containerr.xs\:no-gutter .rrow-lg .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.xs\:no-gutter,
  .ram-ui .rrow-sm.xs\:no-gutter,
  .ram-ui .rrow-lg.xs\:no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .rrow.xs\:no-gutter > .column,
  .ram-ui .rrow-sm.xs\:no-gutter > .column,
  .ram-ui .rrow-lg.xs\:no-gutter > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.xs\:no-gutter-fluid,
  .ram-ui .rrow-sm.xs\:no-gutter-fluid,
  .ram-ui .rrow-lg.xs\:no-gutter-fluid {
    margin-left: -38px;
    margin-right: -38px;
  }
  .ram-ui .rrow.xs\:no-gutter-fluid > .column,
  .ram-ui .rrow-sm.xs\:no-gutter-fluid > .column,
  .ram-ui .rrow-lg.xs\:no-gutter-fluid > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.xs\:vertical-no-gutter > .column,
  .ram-ui .rrow-sm.xs\:vertical-no-gutter > .column,
  .ram-ui .rrow-lg.xs\:vertical-no-gutter > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ram-ui .column.xs\:no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .xs\:without-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ram-ui .sm\:gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
  .ram-ui .containerr.sm\:no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .containerr.sm\:no-gutter .rrow,
  .ram-ui .containerr.sm\:no-gutter .rrow-sm,
  .ram-ui .containerr.sm\:no-gutter .rrow-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .containerr.sm\:no-gutter .rrow .column,
  .ram-ui .containerr.sm\:no-gutter .rrow-sm .column,
  .ram-ui .containerr.sm\:no-gutter .rrow-lg .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.sm\:no-gutter,
  .ram-ui .rrow-sm.sm\:no-gutter,
  .ram-ui .rrow-lg.sm\:no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .rrow.sm\:no-gutter > .column,
  .ram-ui .rrow-sm.sm\:no-gutter > .column,
  .ram-ui .rrow-lg.sm\:no-gutter > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.sm\:no-gutter-fluid,
  .ram-ui .rrow-sm.sm\:no-gutter-fluid,
  .ram-ui .rrow-lg.sm\:no-gutter-fluid {
    margin-left: -38px;
    margin-right: -38px;
  }
  .ram-ui .rrow.sm\:no-gutter-fluid > .column,
  .ram-ui .rrow-sm.sm\:no-gutter-fluid > .column,
  .ram-ui .rrow-lg.sm\:no-gutter-fluid > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.sm\:vertical-no-gutter > .column,
  .ram-ui .rrow-sm.sm\:vertical-no-gutter > .column,
  .ram-ui .rrow-lg.sm\:vertical-no-gutter > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ram-ui .column.sm\:no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .sm\:without-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ram-ui .md\:gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
  .ram-ui .containerr.md\:no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .containerr.md\:no-gutter .rrow,
  .ram-ui .containerr.md\:no-gutter .rrow-sm,
  .ram-ui .containerr.md\:no-gutter .rrow-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .containerr.md\:no-gutter .rrow .column,
  .ram-ui .containerr.md\:no-gutter .rrow-sm .column,
  .ram-ui .containerr.md\:no-gutter .rrow-lg .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.md\:no-gutter,
  .ram-ui .rrow-sm.md\:no-gutter,
  .ram-ui .rrow-lg.md\:no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .rrow.md\:no-gutter > .column,
  .ram-ui .rrow-sm.md\:no-gutter > .column,
  .ram-ui .rrow-lg.md\:no-gutter > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.md\:no-gutter-fluid,
  .ram-ui .rrow-sm.md\:no-gutter-fluid,
  .ram-ui .rrow-lg.md\:no-gutter-fluid {
    margin-left: -38px;
    margin-right: -38px;
  }
  .ram-ui .rrow.md\:no-gutter-fluid > .column,
  .ram-ui .rrow-sm.md\:no-gutter-fluid > .column,
  .ram-ui .rrow-lg.md\:no-gutter-fluid > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.md\:vertical-no-gutter > .column,
  .ram-ui .rrow-sm.md\:vertical-no-gutter > .column,
  .ram-ui .rrow-lg.md\:vertical-no-gutter > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ram-ui .column.md\:no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .md\:without-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ram-ui .lg\:gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
  .ram-ui .containerr.lg\:no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .containerr.lg\:no-gutter .rrow,
  .ram-ui .containerr.lg\:no-gutter .rrow-sm,
  .ram-ui .containerr.lg\:no-gutter .rrow-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .containerr.lg\:no-gutter .rrow .column,
  .ram-ui .containerr.lg\:no-gutter .rrow-sm .column,
  .ram-ui .containerr.lg\:no-gutter .rrow-lg .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.lg\:no-gutter,
  .ram-ui .rrow-sm.lg\:no-gutter,
  .ram-ui .rrow-lg.lg\:no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .ram-ui .rrow.lg\:no-gutter > .column,
  .ram-ui .rrow-sm.lg\:no-gutter > .column,
  .ram-ui .rrow-lg.lg\:no-gutter > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.lg\:no-gutter-fluid,
  .ram-ui .rrow-sm.lg\:no-gutter-fluid,
  .ram-ui .rrow-lg.lg\:no-gutter-fluid {
    margin-left: -38px;
    margin-right: -38px;
  }
  .ram-ui .rrow.lg\:no-gutter-fluid > .column,
  .ram-ui .rrow-sm.lg\:no-gutter-fluid > .column,
  .ram-ui .rrow-lg.lg\:no-gutter-fluid > .column {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .rrow.lg\:vertical-no-gutter > .column,
  .ram-ui .rrow-sm.lg\:vertical-no-gutter > .column,
  .ram-ui .rrow-lg.lg\:vertical-no-gutter > .column {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ram-ui .column.lg\:no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .ram-ui .lg\:without-gutter {
    padding-left: 19px;
    padding-right: 19px;
  }
}

/* table grid */
.ram-ui .xs-vertical-top {
  vertical-align: top;
}

.ram-ui .xs-vertical-middle {
  vertical-align: middle;
}

.ram-ui .xs-vertical-bottom {
  vertical-align: bottom;
}

.ram-ui.xs-reverse {
  direction: rtl;
}

@media (min-width: 576px) {
  .ram-ui .sm-vertical-top {
    vertical-align: top;
  }
  .ram-ui .sm-vertical-middle {
    vertical-align: middle;
  }
  .ram-ui .sm-vertical-bottom {
    vertical-align: bottom;
  }
  .ram-ui.sm-reverse {
    direction: rtl;
  }
}

@media (min-width: 768px) {
  .ram-ui .md-vertical-top {
    vertical-align: top;
  }
  .ram-ui .md-vertical-middle {
    vertical-align: middle;
  }
  .ram-ui .md-vertical-bottom {
    vertical-align: bottom;
  }
  .ram-ui.md-reverse {
    direction: rtl;
  }
}

@media (min-width: 992px) {
  .ram-ui .lg-vertical-top {
    vertical-align: top;
  }
  .ram-ui .lg-vertical-middle {
    vertical-align: middle;
  }
  .ram-ui .lg-vertical-bottom {
    vertical-align: bottom;
  }
  .ram-ui.lg-reverse {
    direction: rtl;
  }
}

@media (min-width: 1200px) {
  .ram-ui .xlg-vertical-top {
    vertical-align: top;
  }
  .ram-ui .xlg-vertical-middle {
    vertical-align: middle;
  }
  .ram-ui .xlg-vertical-bottom {
    vertical-align: bottom;
  }
  .ram-ui.xlg-reverse {
    direction: rtl;
  }
}

@media (min-width: 0) and (max-width: 575px) {
  .ram-ui .xs\:-vertical-top {
    vertical-align: top;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ram-ui .sm\:-vertical-top {
    vertical-align: top;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ram-ui .md\:-vertical-top {
    vertical-align: top;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ram-ui .lg\:-vertical-top {
    vertical-align: top;
  }
}

/* text align */
.ram-ui .xs-text-left {
  text-align: left;
}

.ram-ui .xs-text-center {
  text-align: center;
}

.ram-ui .xs-text-right {
  text-align: right;
}

.ram-ui .xs-text-justify {
  text-align: justify;
}

@media (min-width: 576px) {
  .ram-ui .sm-text-left {
    text-align: left;
  }
  .ram-ui .sm-text-center {
    text-align: center;
  }
  .ram-ui .sm-text-right {
    text-align: right;
  }
  .ram-ui .sm-text-justify {
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .ram-ui .md-text-left {
    text-align: left;
  }
  .ram-ui .md-text-center {
    text-align: center;
  }
  .ram-ui .md-text-right {
    text-align: right;
  }
  .ram-ui .md-text-justify {
    text-align: justify;
  }
}

@media (min-width: 992px) {
  .ram-ui .lg-text-left {
    text-align: left;
  }
  .ram-ui .lg-text-center {
    text-align: center;
  }
  .ram-ui .lg-text-right {
    text-align: right;
  }
  .ram-ui .lg-text-justify {
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  .ram-ui .xlg-text-left {
    text-align: left;
  }
  .ram-ui .xlg-text-center {
    text-align: center;
  }
  .ram-ui .xlg-text-right {
    text-align: right;
  }
  .ram-ui .xlg-text-justify {
    text-align: justify;
  }
}

@media (min-width: 0) and (max-width: 575px) {
  .ram-ui .xs\:text-left {
    text-align: left;
  }
  .ram-ui .xs\:text-center {
    text-align: center;
  }
  .ram-ui .xs\:text-right {
    text-align: right;
  }
  .ram-ui .xs\:text-justify {
    text-align: justify;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ram-ui .sm\:text-left {
    text-align: left;
  }
  .ram-ui .sm\:text-center {
    text-align: center;
  }
  .ram-ui .sm\:text-right {
    text-align: right;
  }
  .ram-ui .sm\:text-justify {
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ram-ui .md\:text-left {
    text-align: left;
  }
  .ram-ui .md\:text-center {
    text-align: center;
  }
  .ram-ui .md\:text-right {
    text-align: right;
  }
  .ram-ui .md\:text-justify {
    text-align: justify;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ram-ui .lg\:text-left {
    text-align: left;
  }
  .ram-ui .lg\:text-center {
    text-align: center;
  }
  .ram-ui .lg\:text-right {
    text-align: right;
  }
  .ram-ui .lg\:text-justify {
    text-align: justify;
  }
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

.ram-ui {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  position: relative;
}

.ram-ui .fluid {
  width: 100%;
}

.ram-ui .vertical-gutter > .column {
  margin-top: 38px;
}

.ram-ui .vertical-gutter > .column:last-of-type {
  margin-bottom: 38px;
}

@media (min-width: 720px) {
  .ram-ui .vertical-gutter > .column {
    margin-top: 39px;
    margin-bottom: 39px;
  }
}

.ram-ui #banner {
  color: #ffffff;
  position: relative;
}

.ram-ui #banner #content {
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.ram-ui #banner #content h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

@media (min-width: 720px) {
  .ram-ui #banner #content h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 5px;
  }
}

.ram-ui #banner #content p {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

@media (min-width: 720px) {
  .ram-ui #banner #content p {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 2px;
  }
}

.ram-ui .box {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  padding: 20px;
  text-align: center;
}

.ram-ui .box img {
  border-radius: 4px;
}

.ram-ui .box a {
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  border: 3px solid #333333;
  color: #333333;
  display: inline-block;
  height: 44px;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}

.ram-ui .box a:hover {
  background-color: #333333;
  color: #ffffff;
}

.ram-ui .image {
  height: auto;
  max-width: 100%;
}

.ram-ui #tabs {
  flex-wrap: wrap;
  display: flex;
}

.ram-ui #tabs .toggle-title {
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #000000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.ram-ui #tabs .toggle-title:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 720px) {
  .ram-ui #tabs .toggle-title {
    order: 1;
    width: auto;
  }
}

.ram-ui #tabs .toggle-title.open {
  background-color: #000000;
  color: #ffffff;
}

.ram-ui #tabs .toggle-title.open + .toggle-content {
  transform: translateY(0);
  max-height: 300px;
  opacity: 1;
  visibility: visible;
}

.ram-ui #tabs .toggle-content {
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 720px) {
  .ram-ui #tabs .toggle-content {
    order: 2;
  }
}

/*# sourceMappingURL=ram.css.map */
