.#{$global-class} {

    [class^="#{$global-buttonClassName}"] {
    }

	.button-primary {


	    &:hover {
			@include shadow(0 0 0 rem(2px) rgba($brand-primary,.3));

			.icon {
				color: $brand-primary;
			}
		}
	}

	.button-secondary {

	    &:hover {
			@include shadow(0 0 0 rem(2px) rgba($brand-secondary,.3));

			.icon {
				color: $brand-secondary;
			}
		}
	}
}