.#{$global-class} {

    &.sticky {
        height: 100%;
        //
        //
        // Sticky Footer;
        //
        //
        & > .sticky {
            min-height: 100%; // Height of the parent should be 100%
            // overflow-y: scroll;
            position: relative;

            & > .top {
                // padding-bottom: 100px;

                @media (min-width: $collapse) {
                    // padding-bottom: 100px; // Change depending on the .bottom { height } size
                }
            }
            & > .bottom {
                bottom: 0;
                left: 0;
                position: relative;
                width: 100%;

                @media (min-width: $collapse) {
                    // height: 100px; // Change depending on the .top { padding-bottom } size
                    position: absolute;
                }
            }
        }
    }
}