.#{$global-class} {

    .#{$global-fieldClassName} {

        input {

            &[type="text"],
            &[type="email"],
            &[type="password"],
            &[type="tel"],
            &[type="search"],
            &[type="number"] {

                @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);

                &:disabled {

                    &:active, &:focus, &:hover {
                        @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);
                    }
                }

                &:active {
                    @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
                }

                &:focus {
                    @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
                }

                &:hover {
                    @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
                }
            }

        }

        textarea {
            @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);

            &:disabled {

                &:active, &:focus, &:hover {
                    @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);
                }
            }

            &:active {
                @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
            }

            &:focus {
                @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
            }

            &:hover {
                @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
            }
        }

        select {
            @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);

            &:disabled {

                &:active, &:focus, &:hover {
                    @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);
                }
            }

            &:active {
                @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
            }

            &:focus {
                @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
            }

            &:hover {
                @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
            }
        }
    }
}