// .eot .otf .ttf
// @include addFont("font-family","font-file");

// @include addFont("abel","abel");
// @include addFont("abelpro-bold","abelpro-bold");

@mixin fontWeight($value) {
  font-family: "";
  font-style: normal;

  @if $value == "tin" {
    font-weight: 100;
  }
   @else if $value == "light" {
    font-weight: 300;
  }
  @else if $value == "normal" {
    font-weight: 400;
  }
  @else if $value == "medium" {
    font-weight: 500;
  }
  @else if $value == "semibold" {
    font-weight: 600;
  }
  @else if $value == "bold" {
    font-weight: 700;
  }
  @else if $value == "heavy" {
    font-weight: 900;
  }
  @else {
  	font-weight: 400;
  }
}