.#{$global-class} {
    
    footer {

    	&#colophon {
            color: $black;
            padding: rem(10px) 0;
            text-transform: uppercase;

            form {
                @include forms(primary);
            }

            & > #footerTop {
            }

            & > #footerBottom {
                font-size: rem(12px);

                a {
                    color: $black;
                    display: inline-block;
                    text-decoration: none;
                }

                ul {
                    margin: 0px rem(-15px);

                    & > li {
                        padding: rem(10px) rem(15px);
                        position: relative;

                        @media (min-width: $collapse) {
                            display: inline-block;
                            padding: 0 rem(15px);
                            width: auto;

                            &:last-of-type {

                                &:after {
                                    display: none;
                                }
                            }

                            &:after {
                                background-color: $black;
                                content: " ";
                                height: 100%;
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: rem(1px);
                            }
                        }
                    }
                }
            }
    	}
    }
}