.#{$global-class} {

    header {

        &#masthead {
            position: relative;
            z-index: 500;

            &.active {

            }

            & > #topHead {
                @include radiusOrientation(40px, bottom, left);
                @include radiusOrientation(40px, bottom, right);

                @media (max-width: $collapse - 1) {
                    background-color: $brand-primary;
                }

                @media (min-width: $collapse) {
                    padding-bottom: rem(10px);
                    padding-top: rem(10px);
                }

                .collapse-button {
                    @include appearance(none);
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                    color: $white;
                    outline: 0;
                    padding: rem(15px);
                    width: 100%;

                    &.active {

                        .fa {

                            &:before {
                                content: "\f106";
                            }
                        }
                    }
                }

                .lg-collapse-container {
                    // padding-top: rem(10px);

                    &.animate {

                        &.expand {
                            padding-bottom: rem(10px);
                            padding-top: rem(10px);
                            max-height: 150px; //approx
                        }
                    }
                }

                ul {
                    @include make-flex(inline-flex);
                    @include align-items(center);
                    @include row-wrap(wrap);
                    list-style-type: none;
                    margin: 0px rem(-5px);

                    & > li {
                        display: inline-block;
                        padding: 0px rem(5px);
                        position: relative;
                        color: $white;
                        font-size: rem(13px);

                        .icon, .fa, .fab {
                            font-size: rem(16px);
                        }

                        @media (min-width: $collapse) {
                            color: $font-grey-light;
                        }

                        & > a {
                            color: $white;
                            text-decoration: none;

                            @media (min-width: $collapse) {
                                color: $font-grey-light;
                            }
                        }
                    }
                }
            }

            & > #primaryNav {
                padding-bottom: rem(10px);
                padding-top: rem(10px);
            }
            
            #logo {
                color: $brand-primary;
                text-decoration: none;

                img {
                    height: rem(100px);
                }
            }

            #searchForm {
                position: relative;
                z-index: 800;

                button {
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                    outline: 0;
                    min-width: rem(38px);
                    text-align: center;


                    .icon {
                        font-size: rem(26px);
                    }

                    &.active {

                        .icon {
                        font-size: rem(20px);

                            &:before {
                                content: "\68";
                            }
                        }
                    }
                }

                input[type="text"] {
                    @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);
                    border: 0;
                    font-size: 20px;
                    outline: 0;
                    padding: rem(10px);

                    &:disabled {

                        &:active, &:focus, &:hover {
                            @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);
                        }
                    }

                    &:active {
                        @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
                    }

                    &:focus {
                        @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
                    }

                    &:hover {
                        @include shadow(inset 0px -4px 0px 0px hexrgba($brand-primary, .4));
                    }
                }

                input[type="submit"] {
                    display: none;
                }

                #searchBox {
                    @include transition(all .3s ease-in-out);
                    background-color: $white;
                    opacity: 0;
                    padding: rem(5px);
                    position: absolute;
                    right: rem(30px);
                    top: rem(-50px);
                    visibility: hidden;
                    z-index: -1;

                    &.active {
                        opacity: 1;
                        top: 0;
                        visibility: visible;
                        z-index: 100;
                    }
                }
            }

            #announcement {
                background-color: $background-grey-light;
                font-size: rem(14px);
                letter-spacing: rem(1px);
                padding: rem(4px);
                text-transform: uppercase;
            }
        }
    }

    .open-search {
        background-color: transparent;
        z-index: 499;
    }
}