$border: #ebebeb;
$button-color: #333333;

* {
    box-sizing: border-box;
    
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

.#{$global-class} {
    background-color: $white;
    color: $font-black;
    font-family: 'Open Sans', sans-serif;
    font-size: rem($font-size);
    font-weight: 400;
    line-height: $line-height;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    position: relative;

    .fluid {
        width: 100%;
    }

    .vertical-gutter {

        & > .column {
            // Photoshop mobile change the margin
            margin-top: rem(38px);

            &:last-of-type {
                margin-bottom: rem(38px);
            }

            @media (min-width: $medium-width) {
                margin-top: rem(39px);
                margin-bottom: rem(39px);
            }
        }
    }

    #banner {
        color: $white;
        position: relative;

        #content {
            @include translate(-50%, -50%);
            left: 50%;
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            z-index: 10;

            h1 {
                font-size: 50px;
                font-weight: 700;
                line-height: 65px;
                letter-spacing: 1px;
                margin: 0;
                padding: 0;

                @media (min-width: $medium-width) {
                    font-size: 62px;
                    font-weight: 700;
                    line-height: 76px;
                    letter-spacing: 5px;
                }
            }
    
            p {
                font-size: 22px;
                line-height: 32px;
                letter-spacing: 2px;
                margin: 0;
                padding: 0;

                @media (min-width: $medium-width) {
                    font-size: 32px;
                    line-height: 32px;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .box {
        @include radius(4px);
        border: 1px solid $border;
        padding: rem(20px);
        text-align: center;

        img {
            @include radius(4px);
        }

        a {
            @include transition(all .3s ease-in-out);
            @include radius(30px);
            border: 3px solid $button-color;
            color: $button-color;
            display: inline-block;
            height: rem(44px);
            padding: 9px 10px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: rem(150px);

            &:hover {
                background-color: $button-color;
                color: $white;
            }
        }
    }

    .image {
        height: auto;
        max-width: 100%;
    }

    #tabs {
        @include row-wrap(wrap);
        @include make-flex(flex);

        .toggle-title {
            @include transition(all .3s ease-in-out);
            border-bottom: 1px solid $black;
            cursor: pointer;
            padding: rem(10px);
            width: 100%;

            &:hover {
                background-color:  hexrgba($black, .1);
            }

            @media (min-width: $medium-width) {
                order: 1;
                width: auto;
            }

            &.open {
                background-color: $black;
                color: $white;

                & + .toggle-content {
                    @include translateY(0);
                    max-height: 300px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .toggle-content {
            @include transition(all .3s ease-in-out);
            @include translateY(-100%);
            max-height: 0px;
            opacity: 0;
            visibility: hidden;

            @media (min-width: $medium-width) {
                order: 2;
            }
        }
    }
}