.#{$global-class} {
    
    nav {

    	&#primaryNav {

    		ul {

    			&.menu-list {

                    @media (min-width: $collapse) {
                        margin: 0 rem(-20px);
                    }

    				& > li {

                        &.menu-item,
                        &.page_item {

                            & > a {
                                color: $black;
                                padding-bottom: rem(20px);
                                padding-top: rem(20px);

                                @media (min-width: $collapse) {
                                    padding: rem(20px);
                                }

                                &:hover {
                                    text-decoration: none;
                                }

                                &:active {
                                    text-decoration: none;
                                }

                                &:focus {
                                    text-decoration: none;
                                }
                            }
                        }

						&.current_page_item,
                        &.current_page_parent,
                        &.current_page_item,
                        &.current-menu-item,
                        &.current-post-parent,
                        &.current_page_ancestor,
                        &.current-category-ancestor {

							& > a {
                                color: $brand-primary;
							}
						}

                        &.menu-item-has-children,
                        &.page_item_has_children {

                            a {
                                &:after {
                                    @include translate(0, -30%);
                                    right: rem(0);
                                }
                            }

                            .sub-menu,
                            .children {
                                a {
                                    &:after {
                                        right: rem(10px);
                                    }
                                }
                            }
                        }

                        & > .sub-menu,
                        & > .children {

                            &.open {

                                @media (max-width: $collapse - 1) {
                                    padding-bottom: rem(10px);
                                    padding-top: rem(10px);
                                }
                            }


                            li {

                                @media (min-width: $collapse) {

                                    &:first-of-type {

                                        & > a {
                                            padding-top:20px;
                                        }
                                    }

                                    &:last-of-type {

                                        & > a {
                                            padding-bottom: 20px;
                                        }
                                    }
                                }

                                & > a {
                                    padding: rem(10px) rem(20px);
                                    
                                    
                                    &:hover {
                                        color: $font-grey-dark;
                                    }
                                }

                                & > .sub-menu,
                                & > .children {

                                    .sub-menu,
                                    .children {

                                        @media (min-width: $collapse) {
                                            margin-top: rem(-10px);
                                        }
                                    }
                                }
                            }
                        }
    				}

                    a {
                        text-transform: uppercase;
                    }
    			}
    		}
    	}
    }
}