.#{$global-class} {
	#pageBanner {
		background-color: #f1f1f1;

		& > .container {

            & > .row {
                height: rem(200px);

                @media (min-width: $collapse) {
               		height: rem(400px);
	            }
            }
        }
	}

	.banner {
		background-color: #f1f1f1;
	}

	.page-title {
		text-transform: capitalize;
	}

	&:not(.home) {
		.content-area {
			margin: rem(30px) 0;
		}
	}
}