.#{$global-class} {
    
    section {

    	&#section {
    		position: relative;
    		z-index: 250;
            
    		& > #content {

    		}
    	}
    }

    #landingCover {
		overflow: hidden;
		width: 100%;
    }

	#landing {
		height: 574px;
		margin: 0 auto;
		position: relative;
		width: 1200px;

		img {
			@include translateX(-50%);
			left: 50%;
			height: 574px;
			position: absolute;
			top: 0;
			width: 1200px;

			&:first-of-type {
				z-index: 20;
			}

			&:last-of-type {
				z-index: 10;
			}
		}

		a {
			border: 1px solid red;
			height: 143px;
			position: absolute;
			right: calc(109px * 3);
			top: calc(143px * 1);
			width: 109px;
			z-index: 25;

			&:hover {

				& ~ img {
					z-index: 21;
				}
			}
		}
	}    
}