@mixin animations($name, $duration, $delay: "", $timing: "" , $iteration: "", $fillmode: "", $direction: "") {
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;

    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;

    -webkit-animation-fill-mode: $fillmode;
    -o-animation-fill-mode: $fillmode;
    animation-fill-mode: $fillmode;

    -moz-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;

    -moz-animation-timing-function: $timing;
    -o-animation-timing-function: $timing;
    animation-timing-function: $timing;

    -moz-animation-iteration-count: $iteration;
    -o-animation-iteration-count: $iteration;
    animation-iteration-count: $iteration;

    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    animation-direction: $direction;
}

@mixin keyframes($value) {

    @-webkit-keyframes #{$value} {
        @content
    }

    @-moz-keyframes #{$value} {
        @content
    }

    @-o-keyframes #{$value} {
        @content
    }

    @keyframes #{$value} {
        @content
    }
}
