@mixin defaultButton($background: "",$border: "",$fontColor: "") {

    @if $background {
        background-color: $background;
    }

    @if $border {
        border: $border;
    }

    @if $fontColor {
        color: $fontColor;
    }
}

@mixin generateButton() {
    @include transition(all .2s ease-in-out);
    @include appearance(none);
    @include make-flex(inline-flex);
    @include align-items(center);
    @include row-justify(center);
    @include radius(rem($button-radius));
    cursor: pointer;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    outline: 0;
    text-align: center;
    text-decoration: none;
}

@mixin getButtonSize($size: "") {

    @if $size == "small" {
        font-size: rem($button-font-size-sm);
        padding: rem($button-y-padding-sm) rem($button-x-padding-sm) !important;

        &:disabled, .disabled {
            opacity: .5;
            font-size: rem($button-font-size-sm);
            padding: rem($button-y-padding-sm) rem($button-x-padding-sm) !important;
        }

    } @else if $size == "medium" {
        font-size: rem($button-font-size);
        padding: rem($button-y-padding) rem($button-x-padding);

        &:disabled, .disabled {
            opacity: .5;
            font-size: rem($button-font-size);
            padding: rem($button-y-padding) rem($button-x-padding);
        }
    } @else if $size == "large" {
        font-size: rem($button-font-size-lg);
        padding: rem($button-y-padding-lg) rem($button-x-padding-lg) !important;

        &:disabled, .disabled {
            opacity: .5;
            font-size: rem($button-font-size-lg);
            padding: rem($button-y-padding-lg) rem($button-x-padding-lg) !important;
        }
    }
}

@mixin getButton( $type: "", $set: "", $important: "") {

    @if $type == "primary" {

        @if $important == "important" {
            background-color: $button-primary-background !important;
            border: $button-primary-border !important;
            color: $button-primary-font-color !important;
        }

        @include defaultButton(
            $button-primary-background,
            $button-primary-border,
            $button-primary-font-color);

        &:active {
            @include defaultButton(
                $button-primary-background-active,
                $button-primary-border-active,
                $button-primary-font-color-active);
        }

        &:focus {
            @include defaultButton(
                $button-primary-background-focus,
                $button-primary-border-focus,
                $button-primary-font-color-focus);
        }

        &:hover {
            @include defaultButton(
                $button-primary-background-hover,
                $button-primary-border-hover,
                $button-primary-font-color-hover);
        }

        &.active {
            @include defaultButton(
                $button-primary-background-active,
                $button-primary-border-active,
                $button-primary-font-color-active);

            &:active {
                @include defaultButton(
                    $button-primary-background-active,
                    $button-primary-border-active,
                    $button-primary-font-color-active);
            }

            &:focus {
                @include defaultButton(
                    $button-primary-background-active,
                    $button-primary-border-active,
                    $button-primary-font-color-active);
            }

            &:hover {
                @include defaultButton(
                    $button-primary-background-active,
                    $button-primary-border-active,
                    $button-primary-font-color-active);
            }
        }

    } @else if $type == "secondary" {

        @include defaultButton(
            $button-secondary-background,
            $button-secondary-border,
            $button-secondary-font-color);

        &:active {
            @include defaultButton(
                $button-secondary-background-active,
                $button-secondary-border-active,
                $button-secondary-font-color-active);
        }

        &:focus {
            @include defaultButton(
                $button-secondary-background-focus,
                $button-secondary-border-focus,
                $button-secondary-font-color-focus);
        }

        &:hover {
            @include defaultButton(
                $button-secondary-background-hover,
                $button-secondary-border-hover,
                $button-secondary-font-color-hover);
        }

        &.active {
            @include defaultButton(
                $button-secondary-background-active,
                $button-secondary-border-active,
                $button-secondary-font-color-active);

            &:active {
                @include defaultButton(
                    $button-secondary-background-active,
                    $button-secondary-border-active,
                    $button-secondary-font-color-active);
            }

            &:focus {
                @include defaultButton(
                    $button-secondary-background-active,
                    $button-secondary-border-active,
                    $button-secondary-font-color-active);
            }

            &:hover {
                @include defaultButton(
                    $button-secondary-background-active,
                    $button-secondary-border-active,
                    $button-secondary-font-color-active);
            }
        }

    } @else if $type == "default" {

        @include defaultButton(
            $button-default-background,
            $button-default-border,
            $button-default-font-color);

        &:active {
            @include defaultButton(
                $button-default-background-active,
                $button-default-border-active,
                $button-default-font-color-active);
        }

        &:focus {
            @include defaultButton(
                $button-default-background-focus,
                $button-default-border-focus,
                $button-default-font-color-focus);
        }

        &:hover {
            @include defaultButton(
                $button-default-background-hover,
                $button-default-border-hover,
                $button-default-font-color-hover);
        }

        &.active {
            @include defaultButton(
                $button-default-background-active,
                $button-default-border-active,
                $button-default-font-color-active);

            &:active {
                @include defaultButton(
                    $button-default-background-active,
                    $button-default-border-active,
                    $button-default-font-color-active);
            }

            &:focus {
                @include defaultButton(
                    $button-default-background-active,
                    $button-default-border-active,
                    $button-default-font-color-active);
            }

            &:hover {
                @include defaultButton(
                    $button-default-background-active,
                    $button-default-border-active,
                    $button-default-font-color-active);
            }
        }
    
    }
}