@mixin collapse($media) {
    .#{$media}-collapse-container {

        &:not(.animate) {
            display: none;

            &.expand {
                display: block;
            }
        }
    }

    .#{$media}-collapse-container {

        &.animate {
            @include transition(.3s);
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            position: relative;
            top: -20px;
            visibility: hidden;

            &.expand {
                max-height: 50px; //approx
                opacity: 1;
                top: 0;
                visibility: visible;
            }
        }
    }
}
