@mixin display($media, $display) {
    .#{$media}#{$display} {
        @include make-display($display);
    }

    .#{$media}#{$display}i {
        @include make-display-important($display);
    }
}

@mixin visible($media, $visibility) {
    .#{$media}#{$visibility} {
        @include make-visibility($visibility);
    }
}

@mixin make-display($display) {
    display: $display;
}

@mixin make-display-important($display) {
    display: $display !important;
}

@mixin make-visibility($visibility) {
    visibility: $visibility;
}
