@mixin generateField($size: "", $type: "" ) {
    @include radius(rem($field-radius));
    @include appearance(none);
    @include transition(border .3s ease-in-out);
    background-color: $field-background;
    border: $field-border;
    color: $field-color;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.5;
    outline: 0;
    width: 100%;

    &:disabled {
        background-color: $field-disable-background;
        color: $field-disable-color;
        cursor: not-allowed;

        &:active, &:focus, &:hover {
            background-color: $field-disable-background;
            border: $field-disable-border;
            color: $field-disable-color;
            cursor: not-allowed;
        }
    }

    &:active {
        background-color: $field-background-active;
        border: $field-border-active;
        color: $field-color-active;
    }

    &:focus {
        background-color: $field-background-focus;
        border: $field-border-focus;
        color: $field-color-focus;
    }

    &:hover {
        background-color: $field-background-hover;
        border: $field-border-hover;
        color: $field-color-hover;
    }

    @if $type == "select" {

        @if $size == "small" {
            font-size: rem($field-font-size-sm) !important;
            padding: rem($field-y-padding-sm) rem($field-x-padding-sm) !important;
        }
        
        @else if $size == "large" {
            font-size: rem($field-font-size-lg) !important;
            padding: rem($field-y-padding-lg) rem($field-x-padding-lg) !important;
        }

        @else {
            font-size: rem($field-font-size-md) !important;
            padding: rem($field-y-padding) rem($field-x-padding) !important;
        }

    } @else {

        @if $size == "small" {
            font-size: rem($field-font-size-sm) !important;
            padding: rem($field-y-padding-sm) rem($field-x-padding-sm) !important;
        }

        @else if $size == "large" {
            font-size: rem($field-font-size-lg) !important;
            padding: rem($field-y-padding-lg) rem($field-x-padding-lg) !important;
        }

        @else {
            font-size: rem($field-font-size-md) !important;
            padding: rem($field-y-padding) rem($field-x-padding) !important;
        }
    }
}