//
//
// Grid
//
//
@mixin make-columns($columns) {
    max-width: percentage($columns / 12);
}

@mixin make-flex-column($columns) {
    -ms-flex-preferred-size: percentage(($columns / 12));
    -webkit-flex-basis: percentage(($columns / 12));
    flex-basis: percentage(($columns / 12));
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    flex-grow: 0;
    @include make-columns($columns);
}
@mixin make-flex-column-input($columnSize) {
    -ms-flex-preferred-size: $columnSize;
    -webkit-flex-basis: $columnSize;
    flex-basis: $columnSize;
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    flex-grow: 0;
    max-width: $columnSize;
}
@mixin make-flex($display) {
    display: -webkit-flex;
    display: $display;
}
//
//
// Loop Grid
//
//
@mixin flex-grid($media) {
    @for $i from 1 through 12 {
        &.#{$media}-#{$i} {
            @include make-flex-column($i);
        }
        
    }
    &.#{$media}-5th {
        @include make-flex-column-input(20%);
    }
}
//
//
// Grid Row Options
//
//
@mixin row-options($media) {
    //
    //
    // Row Justify
    //
    //
    &.#{$media}-justify-between {
        @include row-justify(space-between);
    }
    &.#{$media}-justify-around {
        @include row-justify(space-around);
    }
    &.#{$media}-justify-start {
        @include row-justify(flex-start);
    }
    &.#{$media}-justify-center {
        @include row-justify(center);
    }
    &.#{$media}-justify-end {
        @include row-justify(flex-end);
    }
    //
    //
    // Row Align Items
    //
    //
    &.#{$media}-items-start {
        @include align-items(flex-start);
    }
    &.#{$media}-items-end {
        @include align-items(flex-end);
    }
    &.#{$media}-items-center {
        @include align-items(center);
    }
    &.#{$media}-items-baseline {
        @include align-items(baseline);
    }
    &.#{$media}-items-stretch {
        @include align-items(stretch);
    }
    //
    //
    // Row Align content
    //
    //
    &.#{$media}-content-stretch {
        @include align-content(stretch);
    }
    &.#{$media}-content-center {
        @include align-content(center);
    }
    &.#{$media}-content-start {
        @include align-content(flex-start);
    }
    &.#{$media}-content-end {
        @include align-content(flex-end);
    }
    &.#{$media}-content-between {
        @include align-content(space-between);
    }
    &.#{$media}-content-around {
        @include align-content(space-around);
    }
    //
    //
    // Row Direction
    //
    //
    &.#{$media}-direction-row {
        @include row-direction(row);
    }
    &.#{$media}-direction-row-reverse {
        @include row-direction(row-reverse);
    }
    &.#{$media}-direction-column {
        @include row-direction(column);
    }
    &.#{$media}-direction-column-reverse {
        @include row-direction(column-reverse);
    }
    //
    //
    // Row Wrap
    //
    //
    &.#{$media}-wrap {
        @include row-wrap(wrap);
    }
    &.#{$media}-nowrap {
        @include row-wrap(nowrap);
    }
    &.#{$media}-wrap-reverse {
        @include row-wrap(wrap-reverse);
    }
}

@mixin row-justify($val) {
    -webkit-justify-content: $val;
    -moz-justify-content: $val;
    justify-content: $val;
}

@mixin align-items($val) {
    -webkit-align-items: $val;
    align-items: $val;
}

@mixin align-content($val) {
    -webkit-align-content: $val;
    align-content: $val;
}

@mixin row-direction($val) {
    -webkit-flex-direction: $val;
    -moz-flex-direction: $val;
    flex-direction: $val;
}

@mixin row-wrap($val) {
    -webkit-flex-wrap: $val;
    -moz-flex-wrap: $val;
    flex-wrap: $val;
}

@mixin col-align($val) {
    -webkit-align-self: $val;
    align-self: $val;
}
//
//
// Grid Column Options
//
//
@mixin col-options($media) {
    //
    //
    // Column Grow
    //
    //
    &.#{$media}-fill {
        @include col-grow(1);
    }
    &.#{$media}-auto {
        @include col-grow(0);
    }
    //
    //
    // Column Align Self
    //
    //
    &.#{$media}-align-auto {
        @include col-align(auto);
    }
    &.#{$media}-align-stretch {
        @include col-align(stretch);
    }
    &.#{$media}-align-center {
        @include col-align(center);
    }
    &.#{$media}-align-start {
        @include col-align(flex-start);
    }
    &.#{$media}-align-end {
        @include col-align(flex-end);
    }
    &.#{$media}-align-baseline {
        @include col-align(baseline);
    }
    //
    //
    // Ordering
    //
    //
    @for $i from 0 through 9 {
        &.#{$media}-order-#{$i} {
            @include col-order($i);
        }
    }
}

@mixin col-grow($val) {
    -webkit-flex-grow: $val;
    -moz-flex-grow: $val;
    flex-grow: $val;
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    flex-basis: auto;
    max-width: none;
}

@mixin col-grow-only($val) {
    -webkit-flex-grow: $val;
    -moz-flex-grow: $val;
    flex-grow: $val;
}

@mixin col-shrink-only($val) {
    -webkit-flex-shrink: $val;
    -moz-flex-shrink: $val;
    flex-shrink: $val;
}

@mixin col-flex-basis-only($val) {
    -webkit-flex-basis: $val;
    -moz-flex-basis: $val;
    flex-basis: $val;
}

@mixin col-align($val) {
    -webkit-align-self: $val;
    align-self: $val;
}

@mixin col-order($val) {
    -webkit-order: $val;
    -moz-order: $val;
    order: $val;
}
