@mixin addFont($font-family, $font-name) {
    @font-face {
        font-family: "#{$font-family}";

        src: url(#{$path-font}#{$font-name}.eot); /* IE9 Compat Modes */
		src: url(#{$path-font}#{$font-name}?#iefix) format('embedded-opentype'); /* IE6-IE8 */
		src: url(#{$path-font}#{$font-name}.woff2) format('woff2'); /* Super Modern Browsers */
		src: url(#{$path-font}#{$font-name}.woff) format('woff'); /* Pretty Modern Browsers */
		src: url(#{$path-font}#{$font-name}.ttf)  format('truetype');/* Safari, Android, iOS */
		src: url(#{$path-font}#{$font-name}.svg##{$font-name}) format('svg'); /* Legacy iOS */
    }
}
