@mixin forms($exception: "", $buttonsize: "", $important: "") {
    
    p {
        margin-bottom: rem($field-spacer);
        margin-top: 0;
    }

    label {
        font-size: rem($field-label-size);
    }

    fieldset {
        margin-top: 0;
        margin-bottom: rem($field-spacer);
    }

    .required {
        color: $red;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    textarea {
        @include generateField(medium);
    }

    select {
        @include generateField(medium,select);
    }

    @if $exception == "button" {
        input[type="submit"],
        button[type="submit"] {
        }
    } @else if $exception == "primary" {
        input[type="submit"],
        button[type="submit"] {
            @include generateButton();
            @include getButtonSize(medium);
            @include getButton(primary, "", important);
        }
    } @else {
        input[type="submit"],
        button[type="submit"] {
            @include generateButton();
            @include getButtonSize(medium);
            @include getButton(default);
        }
    }
}