//
//
// Gutters
//
//
@mixin gutters($media) {

    // .#{$global-container} {

    //     &.#{$media}gutter {
    //         padding-left: rem($container-gutter-size);
    //         padding-right: rem($container-gutter-size);

    //         .#{$global-row} {
    //             margin-left: rem($gutter-size);
    //             margin-right: rem($gutter-size);

    //             .#{$global-column} {
    //                 padding-left: rem($gutter-size);
    //                 padding-right: rem($gutter-size);
    //             }
    //         }
    //     }
    // }

    // .#{$global-row} {

    //     &.#{$media}gutter {
    //         margin-left: rem($gutter-size);
    //         margin-right: rem($gutter-size);

    //         & > .#{$global-column} {
    //             padding-left: rem($gutter-size);
    //             padding-right: rem($gutter-size);
    //         }
    //     }

    //     &.#{$media}vertical-gutter {

    //         & > .#{$global-column} {
    //             padding-top: rem($gutter-size);
    //             padding-bottom: rem($gutter-size);
    //         }
    //     }
    // }

    //others
    .#{$media}gutter {
        padding-left: rem($gutter-size);
        padding-right: rem($gutter-size);
    }
}
//
//
// No Gutters
//
//
@mixin no-gutters($media) {

    // container
    .#{$global-container} {

        &.#{$media}no-gutter {
            padding-left: 0;
            padding-right: 0;

            .#{$global-row},
            .#{$global-row}-sm,
            .#{$global-row}-lg {
                margin-left: 0;
                margin-right: 0;

                .#{$global-column} {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    // row
    .#{$global-row},
    .#{$global-row}-sm,
    .#{$global-row}-lg {

        &.#{$media}no-gutter {
            margin-left: 0;
            margin-right: 0;

            & > .#{$global-column} {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.#{$media}no-gutter-fluid {
            margin-left: rem(-$gutter-size * 2);
            margin-right: rem(-$gutter-size * 2);

            & > .#{$global-column} {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.#{$media}vertical-no-gutter {

            & > .#{$global-column} {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    // column
    .#{$global-column} {

        &.#{$media}no-gutter {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // others
    .#{$media}without-gutter {
        padding-left: rem($gutter-size);
        padding-right: rem($gutter-size);
    }
}
