@mixin generateH1($value : null) {
    font-size: $xs-h1;
    line-height: $xs-h1-line-height;
    
    @if($value == 'default') {
        margin: 0.67em 0;
    }

    @media (min-width: $collapse) {
        font-size: $h1;
        line-height: $h1-line-height;
    }
}

@mixin generateH1Only($value : null) {
    font-size: $xs-h1;
    line-height: $xs-h1-line-height;
    
    @if($value == 'default') {
        margin: 0.67em 0;
    }
}

@mixin generateH2($value : null) {
    font-size: $xs-h2;
    line-height: $xs-h2-line-height;
    
    @if($value == 'default') {
        margin: 0.83em 0;
    }

    @media (min-width: $collapse) {
        font-size: $h2;
        line-height: $h2-line-height;
    }
}

@mixin generateH3($value : null) {
    font-size: $xs-h3;
    line-height: $xs-h3-line-height;
    
    @if($value == 'default') {
        margin: 1em 0;
    }

    @media (min-width: $collapse) {
        font-size: $h3;
        line-height: $h3-line-height;
    }
}

@mixin generateH4($value : null) {
    font-size: $xs-h4;
    line-height: $xs-h4-line-height;

    @if($value == 'default') {
        margin: 1.33em 0;   
    }

    @media (min-width: $collapse) {
        font-size: $h4;
        line-height: $h4-line-height;
    }
}

@mixin generateH5($value : null) {
    font-size: $xs-h5;
    line-height: $xs-h5-line-height;
    
    @if($value == 'default') {
        margin: 1.67em 0;
    }

    @media (min-width: $collapse) {
        font-size: $h5;
        line-height: $h5-line-height;
    }
}

@mixin generateH5Only($value : null) {
    font-size: $xs-h5;
    line-height: $xs-h5-line-height;
    
    @if($value == 'default') {
        margin: 1.67em 0;
    }
}

@mixin generateH6($value : null) {
    font-size: $h6;
    line-height: $h6-line-height;
    
    @if($value == 'default') {
        margin: 2.33em 0;
    }
}

@mixin generateP($value : null) {
    font-size: $font-size;
    line-height: $line-height;
    
    @if($value == 'default') {
        margin: 1em;
    }
}