@mixin htmlMarkup() {

     
    ul:not([class]):not([id]) {
        list-style-type: disc;
        padding-right: 20px;
        padding-left: 20px;

        li:not([class]):not([id]) {

            a:not([class]):not([id]) {
                @include defaultLink();
            }
        }
    }

    p {

        &.wp-caption-text {
            color: $font-grey;
            font-style: italic;
        }

        &:first-of-type {
            margin-top: 0;
        }

        a:not([class]):not([id]) {
            @include defaultLink();
        }

    }


    table:not([class]) {
        border-collapse: collapse;
        margin-bottom: 1em;
        width: 100%;

        a:not([class]):not([id]) {
            @include defaultLink();
        }

        tr {
            border: 1px solid $border-color;

            td {
                border: 1px solid $border-color;
                padding: rem(8px);

                p {
                    margin-top: 0;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    dd {
        a:not([class]):not([id]) {
            @include defaultLink();
        }
    }

    img {
        height: auto;
        max-width: 100%;
    }

    pre {
        white-space: pre-wrap;
    }

    form {

        &.post-password-form {

            @include forms();
        }
    }
}