@mixin blur($value) {
	-webkit-filter: blur($value);
	-moz-filter: blur($value);
	-o-filter: blur($value);
	filter: blur($value);
}

@mixin backgroundSize($value) {
	-webkit-background-size: $value;
	-moz-background-size: $value;
	-o-background-size: $value;
	background-size: $value;
}