@mixin isotope-grid($media) {
    @for $i from 1 through 12 {
        &.#{$media}-#{$i} {
            & > [class*="group-"] {
                &.active {
                    @include make-flex-column($i);
                }
            }
        }
    }
}
