@mixin defaultLink( $type: "") {

	@if $type == "author" {
		@include generateLink();

	}	@else if $type == "category" {
		@include generateLink();

	}	@else if $type == "comment-count" {
		@include generateLink();

	}	@else if $type == "comment-author" {
		@include generateLink();

	}	@else if $type == "comment-reply-link" {
		@include generateLink();

	}	@else if $type == "comment-reply-title" {
		@include generateLink();

	}	@else if $type == "logged-in-as" {
		@include generateLink();

	}	@else if $type == "anchor" {
		color: $link-color;
		text-decoration: none;
		
		&:hover {
		    color: $link-color-hover;
		}

		&:focus {
		    color: $link-color-hover;
		}

		&:active {
		    color: $link-color-hover;
		}
		
	} @else {
		@include generateLink();
	}
}

@mixin generateLink( $type: "" ) {
	@include transition(all .1s ease-in-out);
	@include shadow(0 2px 0 hexrgba($link-color, 1));
	color: $link-color;
	font-weight: 400;
	text-decoration: none;

	&:hover {
	    color: $link-color-hover;
	    @include shadow(0 3px 0 hexrgba($link-color-hover, 1));
	}
}