@mixin radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

@mixin radiusOrientation($value, $y, $x) {
    -webkit-border-#{$y}-#{$x}-radius: $value;
    -moz-border-#{$y}-#{$x}-radius: $value;
    -o-border-#{$y}-#{$x}-radius: $value;
    border-#{$y}-#{$x}-radius: $value;
}
