@mixin shadow($value) {
    @if $value == "none" {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    } @else {
        -webkit-box-shadow: $value;
        -moz-box-shadow: $value;
        box-shadow: $value;
    }
}

@mixin textShadow($value) {
    @if $value == "none" {
        text-shadow: none;
    } @else {
        text-shadow: $value;
    }
}

