//
//
// Table Options
//
//
@mixin table-cell-align($media, $alignment) {
  .#{$media}-vertical-#{$alignment} {
    vertical-align: $alignment;
  }
}
@mixin table-reverse($media) {
  &.#{$media}-reverse {
    direction: rtl;
  }
}
