@mixin text-align($media) {
    //
    //
    // Text Align
    //
    //
    .#{$media}text-left {
        @include align-text(left);
    }
    .#{$media}text-center {
        @include align-text(center);
    }
    .#{$media}text-right {
        @include align-text(right);
    }
    .#{$media}text-justify {
        @include align-text(justify);
    }
}

@mixin align-text($val) {
    text-align: $val;
}