@mixin transform($value1) {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: $value1;
        -moz-transform: $value1;
        -ms-transform: $value1;
        -o-transform: $value1;
        transform: $value1;
    }
}

@mixin scale($value1, $value2: "") {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: scale($value1, $value2);
        -moz-transform: scale($value1, $value2);
        -ms-transform: scale($value1, $value2);
        -o-transform: scale($value1, $value2);
        transform: scale($value1, $value2);
    }
}

@mixin scale3d($x, $y: "", $z: "") {
    @if $x == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: scale3d($x, $y, $z);
        -moz-transform: scale3d($x, $y, $z);
        -ms-transform: scale3d($x, $y, $z);
        -o-transform: scale3d($x, $y, $z);
        transform: scale3d($x, $y, $z);
    }
}

@mixin translate($value1, $value2: "") {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: translate($value1, $value2);
        -moz-transform: translate($value1, $value2);
        -ms-transform: translate($value1, $value2);
        -o-transform: translate($value1, $value2);
        transform: translate($value1, $value2);
    }
}

@mixin translateY($value1) {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: translateY($value1);
        -moz-transform: translateY($value1);
        -ms-transform: translateY($value1);
        -o-transform: translateY($value1);
        transform: translateY($value1);
    }
}

@mixin translateX($value1) {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: translateX($value1);
        -moz-transform: translateX($value1);
        -ms-transform: translateX($value1);
        -o-transform: translateX($value1);
        transform: translateX($value1);
    }
}

@mixin origin($value1, $value2: "") {
    @if $value1 == "none" {
        -webkit-transform-origin: none;
        -moz-transform: none;
        -ms-transform-origin: none;
        -o-transform-origin: none;
        transform-origin: none;
    } @else {
        -webkit-transform-origin: $value1 $value2;
        -moz-transform-origin: $value1 $value2;
        -ms-transform-origin: $value1 $value2;
        -o-transform-origin: $value1 $value2;
        transform-origin: $value1 $value2;
    }
}

@mixin rotate($value1) {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: rotate($value1);
        -moz-transform: rotate($value1);
        -ms-transform: rotate($value1);
        -o-transform: rotate($value1);
        transform: rotate($value1);
    }
}



@mixin skewX($value1) {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: skewX($value1);
        -moz-transform: skeX($value1);
        -ms-transform: skewX($value1);
        -o-transform: skewX($value1);
        transform: skewX($value1);
    }
}

@mixin skewY($value1) {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: skewY($value1);
        -moz-transform: skeX($value1);
        -ms-transform: skewY($value1);
        -o-transform: skewY($value1);
        transform: skewY($value1);
    }
}

@mixin skew($value1, $value2: "") {
    @if $value1 == "none" {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    } @else {
        -webkit-transform: skew($value1, $value2);
        -moz-transform: skew($value1, $value2);
        -ms-transform: skew($value1, $value2);
        -o-transform: skew($value1, $value2);
        transform: skew($value1, $value2);
    }
}