.#{$global-class} {

	// Selector for all button
	[class^="#{$global-buttonClassName}"] {

		&:disabled {
        	opacity: .5;
            cursor: not-allowed;
        	
            &:active, &:focus, &:hover {
            	opacity: .5;
            }
        }

		& ~ .#{$global-buttonClassName} {
    		margin-bottom: rem(10px);
    		margin-top: rem(10px);
    	}

    	&.borderless {
			border-color: transparent;

			&:active, &:focus, &:hover {
				@include shadow(none);
            	border-color: transparent;
            }
		}

		&.link {

			.text {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&.paddingless {
			padding: 0;
		}

		&.rounded {
			@include radius(100px);
		}

		&.fluid {
    		@include make-flex(flex);
		}

		&.semi-fluid {
			text-align: center;
			max-width: 50%;
			width: 100%;
		}
	}

	.#{$global-buttonClassName} {
		@include generateButton();

    	.icon {
			display: inline-block;
		}

		.text {
			display: inline-block;
		}

		&-sm {
			@include getButtonSize(small);

    		& > .icon {
    			font-size: $button-font-size-sm + 4;
				// line-height: $button-font-size-sm + 1;

    			& ~ .text {
					margin-left: rem(4px * 2);
    			}
    		}

    		& > .text {
    			font-size: $button-font-size-sm;
				// line-height: $button-font-size-sm + 1;

    			& ~ .icon {
					margin-left: rem(4px * 2);
    			}
    		}
		}

		&-md {
			@include getButtonSize(medium);

    		& > .icon {
    			font-size: $button-font-size + 4;
				// line-height: $button-font-size + 1;

    			& ~ .text {
					margin-left: rem(6px * 2);
    			}
    		}

    		& > .text {
    			font-size: $button-font-size;
				// line-height: $button-font-size + 1;

    			& ~ .icon {
					margin-left: rem(6px * 2);
    			}
    		}
		}

		&-lg {
			@include getButtonSize(large);

    		& > .icon {
    			font-size: $button-font-size-lg + 14;
				// line-height: $button-font-size-lg + 1;

    			& ~ .text {
					margin-left: rem(8px * 2);
    			}
    		}

    		& > .text {
    			font-size: $button-font-size-lg;
				// line-height: $button-font-size-lg + 1;

    			& ~ .icon {
					margin-left: rem(8px * 2);
    			}
    		}
		}

		&-primary {
            @include getButton(primary);
		}

		&-secondary {
            @include getButton(secondary);
		}

		&-default {
            @include getButton(default);
		}

		//
		//
		// Optional
		//
		//

		&-inverted {

			&__primary {
				background-color: $white;
				border: 1px solid $white;
				color: $brand-primary;

				&:hover {
					background-color: $brand-primary;
					color: $white;
				}

				&:active {
					background-color: $button-primary-background-active;
					color: $white;
				}

				&:focus {
					background-image: $button-primary-background-focus;
					color: $white;
				}
			}
			
			&__secondary {
				background-color: $white;
				border: 1px solid $white;
				color: $brand-secondary;

				&:hover {
					background-color: $brand-secondary;
					color: $white;
				}

				&:active {
					background-color: $button-secondary-background-active;
					color: $white;
				}

				&:focus {
					background-image: $button-secondary-background-focus;
					color: $white;
				}
			}
		}

		&-transparent {
			background-color: transparent;
			border: 1px solid transparent;
			color: $button-default-font-color;

			&__light {
				background-color: transparent;
				border: 1px solid $font-grey-light;
				color: $font-grey-light;

				&:hover {
					color: $font-grey-dark;
				}
			}

			&__grey-dark {
				background-color: transparent;
				border: 1px solid $font-grey-dark;
				color: $font-grey-dark;
			}

			&__dark {
				background-color: transparent;
				border: 1px solid $font-black;
				color: $font-black;
			}

			&__primary {
				background-color: transparent;
				border: 1px solid $brand-primary;
				color: $brand-primary;
			}

			&__secondary {
				background-color: transparent;
				border: 1px solid $brand-secondary;
				color: $brand-secondary;
			}
		}
	}
}