.#{$global-class} {
        
    .ram-collapse {

        .collapse-button {

            &.active {
                
                .icon-ram-ui-arrow-down {
                    &:before {
                        content: "\65";
                    }
                }
            }
        }
        
        @include collapse(xs);

        @media(max-width: $small-screen - 1) {
            @include collapse(sm);

        }

        @media(max-width: $medium-screen - 1) {
            @include collapse(md);

        }

        @media(max-width: $large-screen - 1) {
            @include collapse(lg);
        }

        @media(max-width: $extra-large-screen - 1) {
            @include collapse(xlg);
        }
    }
}
