.#{$global-class} {
        //
        //
        // Display
        //
        //
        @include display('xs-',none);
        @include display('xs-',block);
        @include display('xs-',inline-block);
        @include display('xs-',table);
        @include display('xs-',table-cell);
        @include display('xs-',flex);
        @include display('xs-',inline-flex);

        @include visible('xs-',visible);
        @include visible('xs-',hidden);

        @media (min-width: $small-screen) {
            @include display('sm-',none,);
            @include display('sm-',block);
            @include display('sm-',inline-block);
            @include display('sm-',table);
            @include display('sm-',table-cell);
            @include display('sm-',flex);
            @include display('sm-',inline-flex);

            @include visible('sm-',visible);
            @include visible('sm-',hidden);
        }
        @media (min-width: $medium-screen) {
            @include display('md-',none,);
            @include display('md-',block);
            @include display('md-',inline-block);
            @include display('md-',table);
            @include display('md-',table-cell);
            @include display('md-',flex);
            @include display('md-',inline-flex);

            @include visible('md-',visible);
            @include visible('md-',hidden);
        }
        @media (min-width: $large-screen) {
            @include display('lg-',none,);
            @include display('lg-',block);
            @include display('lg-',inline-block);
            @include display('lg-',table);
            @include display('lg-',table-cell);
            @include display('lg-',flex);
            @include display('lg-',inline-flex);

            @include visible('lg-',visible);
            @include visible('lg-',hidden);
        }
        @media (min-width: $extra-large-screen) {
            @include display('xlg-',none,);
            @include display('xlg-',block);
            @include display('xlg-',inline-block);
            @include display('xlg-',table);
            @include display('xlg-',table-cell);
            @include display('xlg-',flex);
            @include display('xlg-',inline-flex);

            @include visible('xlg-',visible);
            @include visible('xlg-',hidden);
        }
        //
        //
        // for min-max
        //
        //
        @media (min-width: 0) and (max-width: $small-screen - 1) {
            @include display('xs\\:',none,);
            @include display('xs\\:',block);
            @include display('xs\\:',inline-block);
            @include display('xs\\:',table);
            @include display('xs\\:',table-cell);
            @include display('xs\\:',flex);
            @include display('xs\\:',inline-flex);

            @include visible('xs\\:',visible);
            @include visible('xs\\:',hidden);
        }

        @media (min-width: $small-screen) and (max-width: $medium-screen - 1) {
            @include display('sm\\:',none,);
            @include display('sm\\:',block);
            @include display('sm\\:',inline-block);
            @include display('sm\\:',table);
            @include display('sm\\:',table-cell);
            @include display('sm\\:',flex);
            @include display('sm\\:',inline-flex);

            @include visible('sm\\:',visible);
            @include visible('sm\\:',hidden);
        }

        @media (min-width: $medium-screen) and (max-width: $large-screen - 1) {
            @include display('md\\:',none,);
            @include display('md\\:',block);
            @include display('md\\:',inline-block);
            @include display('md\\:',table);
            @include display('md\\:',table-cell);
            @include display('md\\:',flex);
            @include display('md\\:',inline-flex);

            @include visible('md\\:',visible);
            @include visible('md\\:',hidden);
        }

        @media (min-width: $large-screen) and (max-width: $extra-large-screen - 1) {
            @include display('lg\\:',none,);
            @include display('lg\\:',block);
            @include display('lg\\:',inline-block);
            @include display('lg\\:',table);
            @include display('lg\\:',table-cell);
            @include display('lg\\:',flex);
            @include display('lg\\:',inline-flex);

            @include visible('lg\\:',visible);
            @include visible('lg\\:',hidden);
        }
}