.#{$global-class} {

    .#{$global-fieldClassName} {

        & + .#{$global-fieldClassName}-check {
            margin-bottom: rem(10px);
            margin-top: rem(10px);
        }
    }

    .#{$global-fieldClassName} {
        @include guide();
        margin-bottom: rem(15px);

        &-input {

            input {

                &[type="text"],
                &[type="email"],
                &[type="password"],
                &[type="tel"],
                &[type="search"],
                &[type="number"] {
                    @include generateField(medium);

                    &.sm {
                        @include generateField(small);
                    }
                    
                    &.lg {
                        @include generateField(large);
                    }
                }
            }

            textarea {
                @include generateField(medium);

                &.sm {
                    @include generateField(small);
                }

                &.lg {
                    @include generateField(large);
                }
            }

            select {
                @include generateField(medium, select);
                
                &.sm {
                    @include generateField(small,select);
                }
                
                &.lg {
                    @include generateField(large,select);
                }
            }

            &-check {
                margin: rem(8px) 0;

                & ~ .#{$global-fieldClassName}-label {
                    margin: rem(4px) 0 rem(4px) rem(10px);
                }

                input[type="checkbox"] {
                    display: none;

                    &:checked {

                        & + .#{$global-fieldClassName}-input-check-icon {
                            @include shadow(none);
                            background-color: $brand-primary;
                            border-color: $brand-primary;

                            .icon {
                                color: $white;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }

                &-icon {
                    @include transition(all .3s ease-in-out);
                    @include radius($field-radius);
                    @include row-wrap(wrap);
                    @include make-flex(inline-flex);
                    @include row-justify(center);
                    @include align-items(center);
                    @include shadow(inset 0px -4px 0px 0px $button-default-background-hover);
                    border: $field-border;
                    color: $font-grey-light;
                    cursor: pointer;
                    height: rem(24px);
                    width: rem(24px);

                    .icon {
                        @include transition(all .3s ease-in-out);
                        font-size: rem(20px);
                        // opacity: 0;
                        // visibility: hidden;
                    }

                    &.lg {
                        height: rem(26px);
                        width: rem(26px);
                    }
                }
            }

            &-switch {
                overflow: hidden;
                position: relative;
                margin-left: rem(10px);

                input[type="checkbox"] {
                    display: none;

                    &:checked {

                        & + .#{$global-fieldClassName}-input-switch-icon {
                                border-color: $brand-primary;
                                background-color: $brand-primary;

                            &:before {
                                left: 50%;
                            }
                        }
                    }
                }

                &-icon {
                    @include transition(all .3s ease-in-out);
                    @include radius(100px);
                    background-color: $font-grey-light;
                    border: $field-border;
                    display: block;
                    height: rem(28px);
                    left: 0;
                    overflow: hidden;
                    position: relative;
                    width: rem(48px);

                    &:before {
                        @include transition(all .3s ease-in-out);
                        @include radius(100px);
                        background-color: $white;
                        content: " ";
                        display: block;
                        height: rem(22px);
                        left: rem(2px);
                        position: relative;
                        top: rem(2px);
                        width: rem(22px);
                    }
                }
            }
        }

        &-check {
            @include guide();
            margin-bottom: rem(15px);

            label {
                cursor: pointer;
            }
        }

        &-label {

            & > .label {
                color: $black;
                font-size: $field-label-size;

                & ~ .sublabel {
                    margin-top: rem(-5px);
                }
            }

            & > .sublabel {
                color: $font-grey-dark;
                font-size: rem(13px);
            }
        }

        &-info {
            color: $font-grey-dark;
            font-size: rem(13px);
        }

        &-list {
            list-style-type: none;
            margin: 0;
            padding: rem(8px) 0;

            & > li {
                display: block;

                & > a {
                    color: $black;
                    display: block;
                    font-size: rem(14px);
                    padding: rem(8px) rem(16px);
                    text-decoration: none;

                    &:active {
                        background-color: $button-default-background-hover;
                    }

                    &:focus {
                        background-color: $button-default-background-hover;
                    }

                    &:hover {
                        background-color: $button-default-background-hover;
                    }
                }
            }
        }
    }
}