.#{$global-class} {
    //
    //
    // Flex Grid min-height doesn't work with *-items-center in Iphone
    //
    //
    // 
    //
    // Container break-point
    //
    //
    .#{$global-container} {
        margin-left: auto;
        margin-right: auto;
        padding-left: rem($container-gutter-size);
        padding-right: rem($container-gutter-size);
        width: 100%;

        &.lg\:fluid {
            max-width: rem($max-fluid);
        }

        &:not(.fluid):not(.lg\:fluid) {
            @media (min-width: rem($small-screen)) {
                max-width: rem($small-width);
            }

            @media (min-width: rem($medium-screen)) {
                max-width: rem($medium-width);
            }

            @media (min-width: rem($large-screen)) {
                max-width: rem($large-width);
            }

            @media (min-width: rem($extra-large-screen)) {
                max-width: rem($extra-large-width);
            }
        }
    }
    //
    //
    // grid
    //
    //
    .#{$global-row} {

        &:not(.#{$global-column}) {
            margin-left: rem(-$gutter-size);
            margin-right: rem(-$gutter-size);
        }

        &.#{$global-column} {
            margin-left: 0;
            margin-right: 0;
        }

        & > .#{$global-column} {
            padding-right: rem($gutter-size);
            padding-left: rem($gutter-size);
        }

        &-sm {

            &:not(.#{$global-column}) {
                // margin-left: rem(-($gutter-size / 2));
                // margin-right: rem(-($gutter-size / 2));
                margin-left: rem(-$gutter-size);
                margin-right: rem(-$gutter-size);
            }

            & > .#{$global-column} {
                padding-right: rem($gutter-size / 2);
                padding-left: rem($gutter-size / 2);
            }
        }

        &-lg {

            &:not(.#{$global-column}) {
                // margin-left: rem(-($gutter-size + ($gutter-size / 2)));
                // margin-right: rem(-($gutter-size + ($gutter-size / 2)));
                margin-left: rem(-$gutter-size);
                margin-right: rem(-$gutter-size);
            }

            & > .#{$global-column} {
                padding-right: rem($gutter-size + ($gutter-size / 2));
                padding-left: rem($gutter-size + ($gutter-size / 2));
            }
        }
    }
    //
    //
    // Flex
    //
    //
    .#{$global-flexGrid} {
        @include row-wrap(wrap);
        @include make-flex(flex);
        @include row-options(xs);

        & > .#{$global-column} {
            @include col-options(xs);
            @include flex-grid(xs);
        }

        @media (min-width: $small-screen) {
            @include row-options(sm);

            & > .#{$global-column} {
                @include col-options(sm);
                @include flex-grid(sm);
            }
        }

        @media (min-width: $medium-screen) {
            @include row-options(md);

            & > .#{$global-column} {
                @include flex-grid(md);
                @include col-options(md);
            }
        }

        @media (min-width: $large-screen) {
            @include row-options(lg);

            & > .#{$global-column} {
                @include flex-grid(lg);
                @include col-options(lg);
            }
        }

        @media (min-width: $extra-large-screen) {
            @include row-options(xlg);
            
            & > .#{$global-column} {
                @include flex-grid(xlg);
                @include col-options(xlg);
            }
        }
    }
}