.#{$global-class} {
    //
    //
    // no gutters
    //
    //
    @include gutters('xs-');
    @include no-gutters('xs-');

    @media (min-width: $small-screen) {
        @include gutters('sm-');
        @include no-gutters('sm-');
    }
    @media (min-width: $medium-screen) {
        @include gutters('md-');
        @include no-gutters('md-');
    }
    @media (min-width: $large-screen) {
        @include gutters('lg-');
        @include no-gutters('lg-');
    }
    @media (min-width: $extra-large-screen) {
        @include gutters('xlg-');
        @include no-gutters('xlg-');
    }
    //
    //
    // for min-max
    //
    //
    @media (min-width: 0) and (max-width: $small-screen - 1) {
        @include gutters('xs\\:');
        @include no-gutters('xs\\:');
    }

    @media (min-width: $small-screen) and (max-width: $medium-screen - 1) {
        @include gutters('sm\\:');
        @include no-gutters('sm\\:');
    }

    @media (min-width: $medium-screen) and (max-width: $large-screen - 1) {
        @include gutters('md\\:');
        @include no-gutters('md\\:');
    }

    @media (min-width: $large-screen) and (max-width: $extra-large-screen - 1) {
        @include gutters('lg\\:');
        @include no-gutters('lg\\:');
    }
}
