.#{$global-class} {

    .isotope {

        .isotope-nav {
            margin-bottom: rem($spacer);

            .isotope-button {
                @include generateButton();
                @include getButtonSize(medium);
                @include defaultButton(
                    $button-primary-background,
                    $button-primary-border,
                    $button-primary-font-color);

                &.active {
                    @include defaultButton(
                    $button-primary-background-active,
                    $button-primary-border-active,
                    $button-primary-font-color-active);
                }
            }
        }

        .isotope-content {

            & > [class*="group-"] {
                @include transition(.5s);
                -ms-flex-preferred-size: 0;
                -webkit-flex-basis: 0;
                flex-basis: 0;
                -webkit-box-flex: 0;
                -moz-flex-grow: 0;
                flex-grow: 0;
                height: 0;
                opacity: 0;
                padding-left: 0;
                padding-right: 0;
                visibility: hidden;
                width: 0;

                & > img {
                    margin-bottom: -4px;
                }

                &.active {
                    -ms-flex-preferred-size: 100%;;
                    -webkit-flex-basis: 100%;
                    flex-basis: 100%;
                    -moz-flex-grow: 0;
                    -webkit-box-flex: 0;
                    flex-grow: 0;
                    height: auto;
                    opacity: 1;
                    padding-left: $gutter-size;
                    padding-right: $gutter-size;
                    visibility: visible;
                    width: 100%;
                }
            }

            &[class*="-no-gutter"] {
                & > .active {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            @include isotope-grid(xs);

            @media (min-width: $small-screen) {
                @include isotope-grid(sm);
            }

            @media (min-width: $medium-screen) {
                @include isotope-grid(md);
            }

            @media (min-width: $large-screen) {
                @include isotope-grid(lg);
            }

            @media (min-width: $extra-large-screen) {
                @include isotope-grid(xlg);
            }
        }
    }
}