.#{$global-class} {
    
    .section-animate {
        @include transition(all .3s ease-in-out);
        opacity: 0;
        visibility: hidden;

        &.active {  
            opacity: 1;
            visibility: visible;
        }
    }
}