.#{$global-class} {
    //
    //
    // Table Options
    //
    //
    @include table-cell-align(xs, top);
    @include table-cell-align(xs, middle);
    @include table-cell-align(xs, bottom);
    @include table-reverse(xs);

    @media (min-width: $small-screen) {
        @include table-cell-align(sm, top);
        @include table-cell-align(sm, middle);
        @include table-cell-align(sm, bottom);
        @include table-reverse(sm);
    }
    @media (min-width: $medium-screen) {
        @include table-cell-align(md, top);
        @include table-cell-align(md, middle);
        @include table-cell-align(md, bottom);
        @include table-reverse(md);
    }
    @media (min-width: $large-screen) {
        @include table-cell-align(lg, top);
        @include table-cell-align(lg, middle);
        @include table-cell-align(lg, bottom);
        @include table-reverse(lg);
    }
    @media (min-width: $extra-large-screen) {
        @include table-cell-align(xlg, top);
        @include table-cell-align(xlg, middle);
        @include table-cell-align(xlg, bottom);
        @include table-reverse(xlg);
    }
    //
    //
    // for min-max
    //
    //
    @media (min-width: 0) and (max-width: $small-screen - 1) {
        @include table-cell-align('xs\\:', top);
    }

    @media (min-width: $small-screen) and (max-width: $medium-screen - 1) {
        @include table-cell-align('sm\\:', top);
    }

    @media (min-width: $medium-screen) and (max-width: $large-screen - 1) {
        @include table-cell-align('md\\:', top);
    }

    @media (min-width: $large-screen) and (max-width: $extra-large-screen - 1) {
        @include table-cell-align('lg\\:', top);
    }
}
