.#{$global-class} {
        
    @include text-align('xs-');

    @media (min-width: $small-screen) {
        @include text-align('sm-');
    }
    @media (min-width: $medium-screen) {
        @include text-align('md-');
    }
    @media (min-width: $large-screen) {
        @include text-align('lg-');
    }
    @media (min-width: $extra-large-screen) {
        @include text-align('xlg-');
    }
    //
    //
    // for min-max
    //
    //
    @media (min-width: 0) and (max-width: $small-screen - 1) {
        @include text-align('xs\\:');
    }

    @media (min-width: $small-screen) and (max-width: $medium-screen - 1) {
        @include text-align('sm\\:');
    }

    @media (min-width: $medium-screen) and (max-width: $large-screen - 1) {
        @include text-align('md\\:');
    }

    @media (min-width: $large-screen) and (max-width: $extra-large-screen - 1) {
        @include text-align('lg\\:');
    }
}
