@function rem($size: "") {

	// @if $size == 100% {

	// 	$remSize: 100%;
	// 	@return #{$remSize};
	// } @else if $size == 0 {

	// 	$remSize: 0;
	// 	@return #{$remSize};
	// } @else {

	// 	$remSize: $size / 16px;
	// 	@return #{$remSize}rem;
	// }

    @return $size;
}

@function em($size) {
    $emSize: $size / 16px;
    @return #{$emSize}em;
}

@function hexrgba($color, $opacity) {
	@return rgba($color, $opacity);
}