// header - 500
// section - 250
// overlay - 600
// mini cart - 700

$path-font: '/wp-content/themes/ram/fonts/';
$path-image: '/wp-content/themes/ram/images/';

$global-class: 'ram-ui';
$global-container: 'containerr';

$global-row: 'rrow';
$global-column: 'column';
$global-flexGrid: 'flex';

$global-buttonClassName: 'button';
$global-fieldClassName: 'field';
//
//
// Break Points / Bootstrap
//
//
$small-screen: 576px; // 576px
$medium-screen: 768px; // netbook //768px
$large-screen: 992px; // 13' //992px
$extra-large-screen: 1200px; // 15' //1200px
//
//
// Container width
//
//
$small-width: 100%;
$medium-width: 720px; //720px
$large-width: 960px; //960px
$extra-large-width: 1057px; //1140px
$max-fluid: 1600px;
//
//
// Navigation collapse
//
//
$collapse: $large-screen;
//
//
// Container Gutter
//
//
$container-gutter-size: 24px;
//
//
// Gutter
//
//
$gutter-size: 19px;
//
//
// Utilities
//
//
$spacer: 10px;
//
//
// Fonts
//
//
$font-family: 'Arial', sans-serif;
$font-family-bold: 'Arial', sans-serif;
$font-size: 14px;
//
//
// Font Colors
//
//
$font-black: #000000;
$font-black-dark: #000000;

$font-grey: #616161; // Date, Category
$font-grey-light: #9c9c9c; // Icons
$font-grey-dark: #616161; // paragraph content

$line-height: 1.5;
//
//
// Basic Colors
//
//
$white: #ffffff;
$black: #000000;

$blue: hexrgba(royalblue,.7);
$blue-dark: $blue;

$green: #21ba45;
$green-light: hexrgba(#21ba45,.5);
$green-dark: #16ab39;

$red: #dd5252;
$red-light: hexrgba(#dd5252,.5);
$red-dark: #ca1010;

$yellow: #fbbc04;
$yellow-light: hexrgba(#fbbc04,.5);
$yellow-dark: #d6a61b;
//
//
// Brand Color
//
//
$brand-primary: royalblue;
$brand-primary-light: hexrgba(royalblue,.6);
$brand-primary-dark: royalblue;

$brand-secondary: orange;
$brand-secondary-light: hexrgba(orange,.6);
$brand-secondary-dark: orange;

$inactive-light: #f1f1f1;
$inactive-dark: #b3b3b3;

$border-color: hexrgba($black,.6); // use in menu list border
$border-color-dark: hexrgba($black,.8); // main border color [header, footer, divider, tags etc]
$hr-border-color: $black;

$background-grey: hexrgba($black,.7);
$background-grey-light: hexrgba($black,.1); // use in progress bar
//
//
// Hamburger
//
//
$burger-height: rem(40px);
$burger-width: rem(48px);
$burger-border: 1px solid transparent;
$burger-border-hover: 1px solid transparent;

$burger-background-color: transparent;
$burger-background-color-hover: transparent;

$patty-color: $black;
$patty-color-hover: hexrgba($black,.7);
$patty-height: rem(2.5px);
$patty-radius: 0px;
$patty-size: rem(12px);
//
//
// Navigation
//
//
$dropdown-background: transparent;
$dropdown-size: 200px;
$dropdown-font-color: $black;
$dropdown-icon-default: "\64"; //"\f107";
$dropdown-icon-active: "\65"; //"\f106";

$first-child-background: $white;
$first-child-background-radius: 10px;
//
//
// Links
//
//
$link-color: $brand-primary;
$link-color-hover: $brand-primary;
//
//
// Headers
//
//
$h1: rem(30px);
$h1-line-height: rem(34px);

$xs-h1: rem(32px);
$xs-h1-line-height: rem(36px);

$h2: rem(36px);
$h2-line-height: rem(40px);

$xs-h2: rem(20px);
$xs-h2-line-height: rem(24px);

$h3: rem(20px);
$h3-line-height: rem(24px);

$xs-h3: rem(18px);
$xs-h3-line-height: rem(22px);

$h4: rem(18px);
$h4-line-height: rem(22px);

$xs-h4: rem(16px);
$xs-h4-line-height: rem(20px);

$h5: rem(16px);
$h5-line-height: rem(20px);

$xs-h5: rem(14px);
$xs-h5-line-height: rem(18px);

$h6: rem(13px);
$h6-line-height: rem(17px);

$xs-h6: rem(12px);
$xs-h6-line-height: rem(16px);
//
//
// Fields
//
//
$field-label-size: 14px;

$field-background: $white;
$field-border: 1px solid #d7dde5;
$field-color: $font-black;

    $field-font-size-sm: 14px;
    $field-x-padding-sm: 8px;
    $field-y-padding-sm: 4px;

    $field-font-size-md: 16px;
    $field-x-padding: 12px;
    $field-y-padding: 6px;

    $field-font-size-lg: 20px;
    $field-x-padding-lg: 16px;
    $field-y-padding-lg: 8px;

$field-radius: 1px;
$field-spacer: 15px;

    $field-background-hover: $white;
    $field-border-hover: 1px solid $brand-primary;
    $field-color-hover: $font-black;

    $field-background-focus: $white;
    $field-border-focus: 1px solid $brand-primary-dark;
    $field-color-focus: $font-black;

    $field-background-active: $white;
    $field-border-active: 1px solid $brand-primary-dark;
    $field-color-active: $font-black;

    $field-disable-background: $inactive-light;
    $field-disable-border: 1px solid #d7dde5;
    $field-disable-color: $inactive-dark;
//
//  
// Button
//
//
$button-border: 1px solid transparent;

    $button-font-size-sm: 14px;
    $button-x-padding-sm: 8px;
    $button-y-padding-sm: 4px;

    $button-font-size: 16px;
    $button-x-padding: 12px;
    $button-y-padding: 6px;

    $button-font-size-lg: 20px;
    $button-x-padding-lg: 16px;
    $button-y-padding-lg: 8px;

$button-radius: 4px;

    // Primary Button    
    $button-primary-background: $brand-primary;
    $button-primary-border: 1px solid $brand-primary;
    $button-primary-font-color: $white;

    $button-primary-background-hover: $brand-primary-light;
    $button-primary-border-hover: 1px solid $brand-primary;
    $button-primary-font-color-hover: $white;

    $button-primary-background-active: $brand-primary-dark;
    $button-primary-border-active: 1px solid $brand-primary;
    $button-primary-font-color-active: $white;

    $button-primary-background-focus: $brand-primary-dark;
    $button-primary-border-focus: 1px solid transparent;
    $button-primary-font-color-focus: $white;

    // Secondary Button    
    $button-secondary-background: $brand-secondary-dark;
    $button-secondary-border: 1px solid transparent;
    $button-secondary-font-color: $white;

    $button-secondary-background-hover: $brand-secondary-light;
    $button-secondary-border-hover: 1px solid $brand-secondary-dark;
    $button-secondary-font-color-hover: $white;

    $button-secondary-background-active: $brand-secondary-dark;
    $button-secondary-border-active: 1px solid $brand-secondary-dark;
    $button-secondary-font-color-active: $white;

    $button-secondary-background-focus: $brand-secondary-dark;
    $button-secondary-border-focus: 1px solid transparent;
    $button-secondary-font-color-focus: $white;

    // Default Button
    $button-default-background: $white;
    $button-default-border: 1px solid #d7dde5;
    $button-default-font-color: $font-black;

    $button-default-background-hover: #f3f5f8;
    $button-default-border-hover: 1px solid #d7dde5;
    $button-default-font-color-hover: $font-black;

    $button-default-background-active: #f3f5f8;
    $button-default-border-active: 1px solid #d7dde5;
    $button-default-font-color-active: $font-black;

    $button-default-background-focus: #f3f5f8;
    $button-default-border-focus: 1px solid #d7dde5;
    $button-default-font-color-focus: $font-black;